.form-leave-feedback {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    .feedback-title {
        font: {
            family: $font-lato-light;
            size: 20px;
        }
    }
    .feedback-content {
        padding-top: 15px;
        .form-control {
            box-shadow: 0 0 30px 0 #fff;
        }
        .feedback-user-name {
            padding-bottom: 15px;
            .form-control {
                @include generation-form($form-bg-color: #fff, $form-font-color:#bababa, $form-border-radius: 6px, $form-padding: 14px 20px);
                width: 240px;
            }
        }
        .form-text-area {
            @include generation-form($form-bg-color: #fff, $form-font-color:#bababa, $form-border-radius: 6px, $form-padding: 14px 20px);
            width: 484px;
            height: 150px;
            resize: none;
        }
        .feedback-button {
            padding-top: 15px;
            .btn-primary {
                @include generation-btn($main-button-color: $dcm-brand-color, $btn-border-radius: 24px, $btn-font-size: 18px, $btn-font-family: $font-lato-light, $btn-padding: 5px 55px);
            }
        }
    }
}