// Главная страница личного профиля пользователя

.user-page {
    background: url("../../../images/bg-user-page.png") no-repeat;
    background-size: cover;
    .user-page-fluid {
        padding: 0;

        // Блок с контентом в личном профиле
        .personal-profile-content {
            background: rgba(57, 74, 106, 0.8);
            height: 100vh;
            display: flex;
            flex-direction: column;
            .profiles-content-description {
                font-family: $font-lato-light;
                padding: 0 130px;
                .info-content-title {
                    font: {
                        family: $font-lato-light;
                        size: 30px;
                    }
                    color: #b75726;
                    padding-bottom: 15px;
                }
                .info-content-text {
                    font-size: 18px;
                    line-height: 22px;
                    padding-right: 120px;
                }
            }
        }
    }

    @include max-screen(1400px) {
        .user-page-fluid .personal-profile-content {
            .stock-widget-block {
                padding-top: 0;
            }

            .profiles-content-description {
                padding: 0 10px;

                .info-content-text {
                    padding-right: 0;
                }
            }
        }
    }
}