// Страница с личной информацией пользователя

.personal-information-block {
    padding: 35px 60px;
    .personal-information-tab {
        border-bottom: 1px solid #506387;
        ul li {
            .fs-tabs-active {
                border-bottom: 3px solid $dcm-brand-color;
                color: #fff;
                transition: all .5s;
            }
            a {
                border-bottom: 3px solid transparent;
                font: {
                    family: $font-roboto-regular;
                    size: 24px;
                }
                color: #506387;
                padding: 0 40px 20px;
                margin-bottom: -2px;
            }
        }
    }
    .personal-information-tab-content {
        padding: 30px 0;

        // Личные данные пользователя, и их изменение
        .personal-data-block {
            position: relative;
            // Список личных данных пользователя
            .personal-data-list {
                border-bottom: 2px dashed #202b3e;
                font: {
                    family: $font-roboto-light;
                    size: 18px;
                }

                // Форма с личной информацией
                lable {
                    display: block;
                    margin: 19px 0 19px 19px;
                }
                .text {
                    padding: 19px 0px 19px 21px;
                }
                .form-control {
                    width: 100%;
                    font: {
                        family: $font-roboto-light;
                        size: 18px;
                    }
                    display: none;
                }

                // Кнопки редактирования
                #save-name {
                    display: none;
                }
                .btn-link {
                    font-family: $font-lato-light;
                    color: #818690;
                    float: right;
                    margin: 19px 18px 18px;
                }
                .save {
                    display: none;
                }
            }
            // Загрузска изображений
            .upload {
                border: 2px dashed #202b3e;
                min-height: 80px;
                padding: 2px;
                margin: 25px 0 15px;
                .fs-upload-target {
                    background-color: rgba(80, 99, 135, 0.4);
                    font: {
                        family: $font-lato-light;
                        size: 18px;
                    }
                    color: #bbc5cf;
                    text-align: center;
                    transition: all .5s;
                    padding: 28px 13px;
                    &:hover, &:active, &:focus {
                        background-color: rgba(80, 99, 135, 0.6);
                    }
                }
            }
        }

        // Пароль и подписка
        .security-block {
            padding: 20px 0;
            // Смена пароля
            .password-recovery-form {
                .form-control {
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            // Оформление подписки
            .subscription-design {
                padding: 50px 0;
                input[type="email"] {
                    width: 460px;
                }
            }
        }
        .tab-content-title {
            font: {
                family: $font-roboto-light;
                size: 16px;
            }
            margin-bottom: 15px;
        }
        .btn-primary {
            @include generation-btn(#447563, $btn-border-radius: 4px, $btn-font-size: 18px, $btn-font-family: $font-lato-light, $btn-padding: 12px 20px);
            display: block;
            margin-top: 18px;
        }
    }

    @include max-screen(1400px) {
        .personal-information-tab-content {
            .security-block .password-recovery-form .form-control {
                margin-right: 16px;
            }
        }
    }
}