// Стили страницы истории заказов

.user-message-content {
    background: #f2f6fc;
    box-shadow: 0 0 29px 0 black;
    margin: 20px;

    // Статус сообщений
    .successfully i {
        color: #57c059;
    }
    .expectation i {
        color: #f45b63;
    }

    .message-header {
        background: linear-gradient(35deg, $dcm-brand-color, #ffd322);
        height: 50px;
        padding: 15px 35px;
        .header-title {
            font: {
                family: $font-lato-light;
                size: 24px;
                weight: bold;
            }
        }
    }

    .message-box {
        display: flex;
        .message-navigation {
            border-right: 1px solid #e1e7f0;
            width: 22%;

            .moving-messages ul {
                border-bottom: 1px solid #e1e7f0;
                li {
                    width: 100%;
                    transition: all .5s;
                    a {
                        border-left: 4px solid transparent;
                        width: 100%;
                        font: {
                            family: $font-lato-light;
                            size: 18px;
                            weight: bold;
                        }
                        color: #515974;
                        transition: all .5s;
                        padding: 15px 35px;
                        img {
                            padding-right: 15px;
                        }

                        &:hover, &:active, &:focus {
                            border-color: #f45b63;
                        }
                    }
                }
            }

            .fs-tabs-active {
                border-left: 4px solid #f45b63 !important;
                background: #e1e7f0;
            }

            .filter-message {
                padding: 40px;
                .filter-title {
                    color: #a5a6bb;
                    font: {
                        family: $font-lato-light;
                        size: 24px;
                    }
                }
                .filtering-options {
                    padding: 20px 5px 25px 5px;
                    .filter {
                        padding-bottom: 15px;
                        font: {
                            family: $font-lato-light;
                            size: 20px;
                        }
                        color: #606780;
                    }
                    .btn-primary {
                        @include generation-btn($dcm-brand-color,$btn-border-radius: 20px,$btn-font-size: 18px,$btn-font-family: $font-lato-light,$btn-padding: 5px);
                        width: 100%;
                        margin-top: 20px;
                    }
                }
            }
        }

        .message-container {
            width: 78%;
            padding-left: 40px;

            .message-list {
                //padding-left: 50px;
                .fs-scrollbar-content {
                    padding: 0;
                }

                .message-link {
                    border-left: 4px solid transparent;
                    transition: all .5s;
                    &:nth-child(2n) {
                        background: #e1e7f0;
                    }
                    &:hover, &:focus, &:active {
                        border-left: 4px solid #f45b63;
                    }

                    .message-item {
                        line-height: 20px;
                        font: {
                            family: $font-lato-regular;
                            size: 18px;
                        }
                        color: #515974;
                        display: flex;
                        justify-content: space-between;
                        padding: 15px 15px 10px;
                        .message-icon {
                            padding-right: 15px;
                            i {
                                vertical-align: baseline;
                                font: {
                                    weight: 900;
                                    size: 18px;
                                }
                            }
                        }
                        .message-sender {
                            width: 20%;
                        }
                        .message-text {
                            width: 60%;
                            text-overflow: ellipsis;
                            text-align: center;
                            white-space: nowrap;
                            overflow: hidden;
                            padding: 0 10px;
                        }
                        .message-date {
                            text-align: right;
                        }
                        .message-delete {
                            padding-left: 80px;
                            i {
                                font-size: 16px;
                                transition: all .5s;
                                padding: 0 0 7px 10px;
                                &:hover, &:focus, &:active  {
                                    color: $dcm-brand-color;
                                }
                            }
                        }
                    }

                    a { display: block; }
                }
            }
        }
    }

    @include max-screen(1400px) {
        .message-box {
            .message-navigation {
                width: 26%;
                .moving-messages ul li a {
                    padding: 15px;
                }
            }
            .message-container {
                width: 74%;
                padding-left: 20px;
                .message-list .message-link .message-item {
                    .message-sender {
                        width: 30%;
                    }
                    .message-text {
                        width: 45%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .message-delete {
                        padding-left: 15px;
                    }
                }
            }
        }
    }
}