.form-order-services {
    justify-content: center;
    flex-direction: column;
    align-self: center;
    display: flex;
    height: 100%;
    .order-title {
        font: {
            family: $font-roboto-regular;
            size: 24px;
        }
    }
    .order-content {
        padding-top: 25px;
        .label-for-information {
            display: flex;
            .label-width {
                width: 264px;
            }
        }
        .order-information {
            padding-bottom: 15px;
            display: flex;
            .form-control {
                @include generation-form($form-bg-color: #fff, $form-font-color:#bababa, $form-border-radius: 6px, $form-padding: 14px 20px);
                width: 260px;
                margin-left: 4px;
            }
            .fs-dropdown {
                width: 260px;
            }
        }
        .form-text-area {
            @include generation-form($form-bg-color: #fff, $form-font-color:#bababa, $form-border-radius: 6px, $form-padding: 14px 20px);
            width: 524px;
            height: 150px;
            resize: none;
        }
        .order-button {
            text-align: center;
            padding-top: 15px;
            .btn-primary {
                @include generation-btn($main-button-color: $dcm-brand-color, $btn-border-radius: 24px, $btn-font-size: 18px, $btn-font-family: $font-lato-light, $btn-padding: 5px 25px);
            }
        }
        .title-for-form-control {
            padding-bottom: 4px;
            font: {
                family: $font-lato-regular;
                size: 14px;
            }
        }
    }
}