.catalog-services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    .service-card {
        border-radius: 6px;
        background-color: #fff;
        width: 250px;
        margin-bottom: 15px;
        .img-card {
            display: flex;
            position: relative;
            img {
                border-radius: 6px 6px 0 0;
                position: relative;
                height: 200px;
                width: 100%;
            }
            //noinspection ALL
            .title-img-card {
                background: linear-gradient(125deg, rgba(76, 78, 82, 0.6), rgba(56, 81, 130, 0.6));
                align-items: center;
                text-align: center;
                position: absolute;
                display: flex;
                height: 100%;
                top: 0;
                font: {
                    family: $font-lato-light;
                    weight: 900;
                    size: 30px;
                }
            }
        }
        .information-services {
            padding: 20px;
            color: #333333;
            font: {
                family: $font-roboto-light;
                size: 14px;
            }
        }
        .button-order {
            text-align: center;
            padding-bottom: 10px;
            .btn-primary {
                @include generation-btn($main-button-color: $dcm-brand-color, $btn-border-radius: 19px, $btn-font-size: 16px, $btn-font-family: $font-lato-light,$btn-padding: 5px 26px)
            }
        }
    }
}
.card-scroll {
    height: 100%;
    .fs-scrollbar-bar {
        border: 0;
        background: transparent;
        .fs-scrollbar-track {
            background: transparent;
            .fs-scrollbar-handle {
                width: 8px;
                margin: 0 6px !important;
                background: $dcm-brand-color;
            }
        }
    }

}