html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  margin: 0; }

body {
  background-color: #1b2434;
  line-height: 1;
  color: #fff;
  font-family: "lato-medium";
  font-size: 16px; }
  body ul {
    display: block; }
    body ul li {
      display: inline-block; }
  body a {
    color: #fff;
    outline: none;
    text-decoration: none;
    display: inline-block; }
    body a:hover {
      outline: none;
      text-decoration: none; }
    body a:active {
      outline: none;
      text-decoration: none; }
    body a:focus {
      outline: none;
      text-decoration: none; }
  body .limited-block {
    position: relative;
    overflow: hidden;
    height: 100vh; }
  body .bg-filter-light {
    background-color: rgba(33, 40, 50, 0.87);
    padding-top: 50px;
    height: 100vh; }
    @media only screen and (max-width: 770px) {
      body .bg-filter-light {
        padding-top: 60px; } }
  body .bg-filter-dark {
    background: rgba(28, 43, 71, 0.93);
    height: 100vh; }
  @media only screen and (max-width: 470px) {
    body .limited-block {
      overflow: scroll; }
    body .bg-filter-light {
      height: auto; } }

@font-face {
  font-family: "lato-light";
  src: url("../fonts/lato-light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "lato-medium";
  src: url("../fonts/lato-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "lato-regular";
  src: url("../fonts/lato-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "raleway-light";
  src: url("../fonts/raleway-light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "raleway-bold";
  src: url("../fonts/raleway-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "raleway-semi-bold";
  src: url("../fonts/raleway-semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "raleway-extra-bold";
  src: url("../fonts/raleway-extrabold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "lato-semi-bold";
  src: url("../fonts/lato-semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "uni-sans";
  src: url("../fonts/uni_sans_heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "marck-script";
  src: url("../fonts/marckscript-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/robotoregular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "roboto-light";
  src: url("../fonts/robotolight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.title, .two-striped-title {
  text-transform: uppercase;
  font-family: "raleway-bold";
  font-size: 30px; }

.description {
  font-family: "lato-regular";
  line-height: 20px; }

p {
  line-height: 22px; }

.two-striped-title {
  text-align: center; }
  .two-striped-title:after {
    content: ' ';
    background-color: #f70;
    width: 150px;
    height: 1px;
    display: block;
    margin: 11px auto; }
  .two-striped-title:before {
    content: ' ';
    background-color: #f70;
    width: 50px;
    height: 5px;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 80%; }

.personal-profile-statistics .title-profile {
  width: 100%;
  padding-top: 35px;
  text-align: center;
  text-transform: uppercase;
  font-family: "lato-light";
  font-size: 30px; }

.personal-profile-statistics .user-counters-from-orders {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .personal-profile-statistics .user-counters-from-orders .separate-counter {
    background: url("../../../images/personal-profile/bg-digits-content.png") center no-repeat;
    -webkit-background-size: 200px 200px;
            background-size: 200px;
    height: 100%;
    margin-top: 30px; }
  .personal-profile-statistics .user-counters-from-orders .digits-content {
    text-align: center;
    padding: 50px 0 0; }
    .personal-profile-statistics .user-counters-from-orders .digits-content .digits {
      min-height: 150px;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #f96c00), color-stop(80%, #ffd322));
      background: -webkit-linear-gradient(bottom, #f96c00 50%, #ffd322 80%);
      background: -o-linear-gradient(bottom, #f96c00 50%, #ffd322 80%);
      background: linear-gradient(0deg, #f96c00 50%, #ffd322 80%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      font-family: "uni-sans";
      font-size: 120px; }
      .personal-profile-statistics .user-counters-from-orders .digits-content .digits span {
        font-size: 60px;
        margin-left: -15px; }
  .personal-profile-statistics .user-counters-from-orders .user-counters-text {
    text-transform: uppercase;
    text-align: center;
    font-family: "lato-light";
    font-size: 30px;
    color: #b75726; }

@media only screen and (max-width: 1440px) {
  .personal-profile-statistics .title-profile {
    font-size: 25px;
    padding: 20px 20px 0; }
  .personal-profile-statistics .user-counters-from-orders .separate-counter {
    background: url("../../../images/personal-profile/bg-digits-content.png") top no-repeat;
    -webkit-background-size: 150px 150px;
            background-size: 150px;
    margin-top: 0; }
    .personal-profile-statistics .user-counters-from-orders .separate-counter .digits-content {
      padding: 20px 0 0; }
      .personal-profile-statistics .user-counters-from-orders .separate-counter .digits-content .digits {
        min-height: 120px;
        font-size: 95px; } }

.personal-profile-vertical-navigation-bar {
  background: #202b3e;
  height: 100vh; }
  .personal-profile-vertical-navigation-bar .user-data {
    text-align: center;
    padding: 35px 0 60px; }
    .personal-profile-vertical-navigation-bar .user-data .user-name {
      font-family: "lato-light";
      font-size: 18px;
      margin-top: 20px; }
      .personal-profile-vertical-navigation-bar .user-data .user-name .user-id {
        font-size: 16px;
        color: #f70;
        margin-top: 5px; }
  .personal-profile-vertical-navigation-bar .navigation-list ul li {
    width: 100%;
    text-align: left;
    border-left: 4px solid transparent;
    font-family: "lato-light";
    font-size: 18px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    .personal-profile-vertical-navigation-bar .navigation-list ul li:hover {
      border-left: 4px solid #bb6013; }
    .personal-profile-vertical-navigation-bar .navigation-list ul li a {
      padding: 23px;
      width: 100%; }
      .personal-profile-vertical-navigation-bar .navigation-list ul li a .status {
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: #f45b63;
        padding: 4px 8px; }
  .personal-profile-vertical-navigation-bar .navigation-list .select {
    border-left: 4px solid #f70;
    background: -webkit-linear-gradient(10deg, rgba(249, 110, 0, 0.3), rgba(255, 255, 255, 0));
    background: -o-linear-gradient(10deg, rgba(249, 110, 0, 0.3), rgba(255, 255, 255, 0));
    background: linear-gradient(80deg, rgba(249, 110, 0, 0.3), rgba(255, 255, 255, 0)); }
  @media only screen and (max-width: 1400px) {
    .personal-profile-vertical-navigation-bar .user-data {
      padding: 25px 0 45px; }
    .personal-profile-vertical-navigation-bar .navigation-list ul li {
      font-size: 16px;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
      .personal-profile-vertical-navigation-bar .navigation-list ul li a {
        padding: 20px; } }

.personal-profile-navigation-bar {
  padding: 15px 0;
  background: #1b2434; }
  .personal-profile-navigation-bar .logotype {
    text-align: center; }
  .personal-profile-navigation-bar .phones-for-communication ul li {
    border: 1px solid #f70;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    padding: 8px 22px;
    font-family: "lato-light";
    font-size: 16px; }
  .personal-profile-navigation-bar .horizontal-navigation-bar-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 15px; }
    .personal-profile-navigation-bar .horizontal-navigation-bar-content .exit {
      -webkit-border-radius: 0;
              border-radius: 0;
      border: 0;
      background: none;
      font-family: "lato-medium";
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      padding: 0;
      -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      padding: 2px 0; }
      .personal-profile-navigation-bar .horizontal-navigation-bar-content .exit:hover {
        color: #fff; }
      .personal-profile-navigation-bar .horizontal-navigation-bar-content .exit:active {
        color: #fff; }
      .personal-profile-navigation-bar .horizontal-navigation-bar-content .exit i {
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        font-size: 27px;
        color: #fff; }
      .personal-profile-navigation-bar .horizontal-navigation-bar-content .exit:hover i, .personal-profile-navigation-bar .horizontal-navigation-bar-content .exit:active i, .personal-profile-navigation-bar .horizontal-navigation-bar-content .exit:focus i {
        color: #f70; }
  @media only screen and (max-width: 1440px) {
    .personal-profile-navigation-bar .phones-for-communication ul li {
      font-size: 12px;
      padding: 10px 20px; } }

.fs-navigation-overlay-content:before {
  background-color: rgba(27, 36, 52, 0.93); }

.navigation-bar-fluid {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 0;
  top: 0; }
  .navigation-bar-fluid .navigation-bar {
    padding-top: 20px; }
    .navigation-bar-fluid .navigation-bar .nav_content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .navigation-bar-fluid .navigation-bar .nav_content ul li {
        margin: 10px 40px 0 0; }
        .navigation-bar-fluid .navigation-bar .nav_content ul li:last-child {
          margin-right: 0; }
        .navigation-bar-fluid .navigation-bar .nav_content ul li a {
          border-bottom: 2px solid transparent;
          text-transform: uppercase;
          line-height: 20px;
          font-family: "lato-medium";
          font-size: 16px;
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s; }
          .navigation-bar-fluid .navigation-bar .nav_content ul li a:hover, .navigation-bar-fluid .navigation-bar .nav_content ul li a:focus, .navigation-bar-fluid .navigation-bar .nav_content ul li a:active {
            border-bottom: 2px solid #f70; }
      .navigation-bar-fluid .navigation-bar .nav_content .profile-information {
        margin: 0 0 0 40px; }
        .navigation-bar-fluid .navigation-bar .nav_content .profile-information .btn-user-authorization {
          -webkit-border-radius: 6px;
                  border-radius: 6px;
          border: 2px solid #f70;
          background: transparent;
          font-family: "lato-medium";
          font-size: 16px;
          color: #fff;
          cursor: pointer;
          padding: 10px 15px;
          -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
          -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }
          .navigation-bar-fluid .navigation-bar .nav_content .profile-information .btn-user-authorization:hover {
            border-color: #d66400;
            background-color: #f70;
            background: #d66400; }
          .navigation-bar-fluid .navigation-bar .nav_content .profile-information .btn-user-authorization:active {
            border-color: #d66400;
            background-color: #f70;
            background: #d66400; }
        .navigation-bar-fluid .navigation-bar .nav_content .profile-information .user-data a {
          border-bottom: 2px solid transparent;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s; }
          .navigation-bar-fluid .navigation-bar .nav_content .profile-information .user-data a:hover, .navigation-bar-fluid .navigation-bar .nav_content .profile-information .user-data a:focus, .navigation-bar-fluid .navigation-bar .nav_content .profile-information .user-data a:active {
            border-bottom: 2px solid #f70; }
          .navigation-bar-fluid .navigation-bar .nav_content .profile-information .user-data a .user-name {
            text-align: left; }
            .navigation-bar-fluid .navigation-bar .nav_content .profile-information .user-data a .user-name .name {
              max-width: 180px;
              min-width: 150px;
              height: 20px;
              text-transform: uppercase;
              -o-text-overflow: ellipsis;
                 text-overflow: ellipsis;
              line-height: 20px;
              font-family: "lato-medium";
              font-size: 16px;
              overflow: hidden;
              margin-top: 10px; }
      .navigation-bar-fluid .navigation-bar .nav_content .nav_handle {
        display: none;
        -webkit-border-radius: 6px;
                border-radius: 6px;
        border: 2px solid #f70;
        background: transparent;
        font-family: "lato-medium";
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        padding: 8px 10px;
        -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        margin-left: 20px; }
        .navigation-bar-fluid .navigation-bar .nav_content .nav_handle:hover {
          border-color: #d66400;
          background-color: #f70;
          background: #d66400; }
        .navigation-bar-fluid .navigation-bar .nav_content .nav_handle:active {
          border-color: #d66400;
          background-color: #f70;
          background: #d66400; }
        .navigation-bar-fluid .navigation-bar .nav_content .nav_handle i {
          line-height: 0; }
    .navigation-bar-fluid .navigation-bar .vertical-mobile-navigation-bar {
      background-color: #202b3e;
      outline: none;
      display: none; }
      .navigation-bar-fluid .navigation-bar .vertical-mobile-navigation-bar .user-data {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 20px 0 30px; }
        .navigation-bar-fluid .navigation-bar .vertical-mobile-navigation-bar .user-data .user-name {
          padding: 20px 0 0 11px;
          font-family: "lato-light";
          font-size: 18px; }
          .navigation-bar-fluid .navigation-bar .vertical-mobile-navigation-bar .user-data .user-name p {
            line-height: 16px; }
      .navigation-bar-fluid .navigation-bar .vertical-mobile-navigation-bar .navigation-list ul li {
        width: 100%;
        text-align: center;
        border-left: 4px solid transparent;
        font-family: "lato-light";
        font-size: 18px;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }
        .navigation-bar-fluid .navigation-bar .vertical-mobile-navigation-bar .navigation-list ul li:hover {
          border-left: 4px solid #f70; }
        .navigation-bar-fluid .navigation-bar .vertical-mobile-navigation-bar .navigation-list ul li a {
          padding: 23px;
          width: 100%; }
      .navigation-bar-fluid .navigation-bar .vertical-mobile-navigation-bar .navigation-list .select {
        border-left: 4px solid #f70;
        background: #242f44; }
  @media only screen and (max-width: 770px) {
    .navigation-bar-fluid {
      background-color: #202b3e;
      padding: 10px 0; }
      .navigation-bar-fluid .navigation-bar {
        padding: 0; }
        .navigation-bar-fluid .navigation-bar .nav_content ul {
          display: none; }
        .navigation-bar-fluid .navigation-bar .nav_content .nav_handle {
          display: block; }
        .navigation-bar-fluid .navigation-bar .vertical-mobile-navigation-bar {
          display: block; } }

.header-fluid {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .header-fluid .header-gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 36, 52, 0.87)), to(#1b2434));
    background: -webkit-linear-gradient(top, rgba(27, 36, 52, 0.87), #1b2434);
    background: -o-linear-gradient(top, rgba(27, 36, 52, 0.87), #1b2434);
    background: linear-gradient(180deg, rgba(27, 36, 52, 0.87), #1b2434); }
    .header-fluid .header-gradient .header-title {
      overflow: hidden;
      text-align: center;
      padding: 120px 0 80px; }
      .header-fluid .header-gradient .header-title .header-title-text, .header-fluid .header-gradient .header-title .header-title-text-long {
        letter-spacing: 15px;
        line-height: 150px;
        font-family: "uni-sans";
        font-size: 200px;
        color: rgba(249, 108, 0, 0.3);
        display: inline-block; }
    @media only screen and (max-width: 1200px) {
      .header-fluid .header-gradient .header-title {
        padding: 100px 0 60px; }
        .header-fluid .header-gradient .header-title .header-title-text-long {
          font-size: 200px; } }
    @media only screen and (max-width: 1180px) {
      .header-fluid .header-gradient .header-title .header-title-text-long {
        font-size: 160px; } }
    @media only screen and (max-width: 1000px) {
      .header-fluid .header-gradient .header-title .header-title-text-long {
        font-size: 120px; } }
    @media only screen and (max-width: 990px) {
      .header-fluid .header-gradient .header-title .header-title-text {
        font-size: 180px; } }

.footer {
  background-color: #1b2434;
  font-family: "lato-regular";
  font-size: 14px;
  color: #b8b8b8;
  padding: 120px 0 90px; }
  .footer .title-footer {
    border-bottom: 1px solid #323a49;
    background-position: right;
    background-repeat: no-repeat;
    font-family: "lato-light";
    font-size: 28px;
    color: #f70;
    position: relative;
    padding: 0 13px 15px;
    margin-bottom: 30px; }
    .footer .title-footer:after {
      content: ' ';
      background-color: #131924;
      width: 100%;
      height: 1px;
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0; }
  .footer .site-map {
    padding-bottom: 10px; }
    .footer .site-map li {
      margin: 0 20px 10px 0; }
      .footer .site-map li:last-child {
        margin-right: 0; }
      .footer .site-map li a {
        color: #b8b8b8; }
  .footer .social-networks li {
    margin-right: 10px; }
    .footer .social-networks li:last-child {
      margin-right: 0; }
  .footer .block-with-contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .block-with-contacts ul {
      margin-top: 20px; }
      .footer .block-with-contacts ul li {
        margin: 5px 0; }
  .footer .subscription-block {
    padding: 0 10px; }
    .footer .subscription-block .form-control {
      -webkit-border-radius: 4px;
              border-radius: 4px;
      border: 1px solid #808080;
      background-color: rgba(25, 34, 48, 0.6);
      font-family: "lato-light";
      font-size: 16px;
      color: #b8b8b8;
      outline: none;
      -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      padding: 15px 20px;
      width: 100%;
      height: 45px;
      margin-top: 20px; }
      .footer .subscription-block .form-control::-webkit-input-placeholder {
        color: #b8b8b8; }
      .footer .subscription-block .form-control::-moz-placeholder {
        color: #b8b8b8; }
      .footer .subscription-block .form-control:focus {
        border-color: #f70;
        -webkit-box-shadow: 0 0 0 1px #f70;
                box-shadow: 0 0 0 1px #f70; }
      .footer .subscription-block .form-control:nth-child(2n) {
        width: 244px;
        margin-right: 6px; }
    .footer .subscription-block .btn-primary {
      -webkit-border-radius: 4px;
              border-radius: 4px;
      border: 2px solid #f70;
      background: #f70;
      font-family: "lato-medium";
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      padding: 8px 10px;
      -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }
      .footer .subscription-block .btn-primary:hover {
        border-color: #d66400;
        background: #d66400;
        cursor: pointer; }
      .footer .subscription-block .btn-primary:active {
        border-color: #cc5f00;
        background: #cc5f00; }
  @media only screen and (max-width: 1000px) {
    .footer .subscription-block .form-control:nth-child(2n) {
      width: 272px; } }
  @media only screen and (max-width: 990px) {
    .footer {
      padding: 100px 0; }
      .footer .d-md-block {
        display: none !important; } }

.home-page {
  background: url("../../../images/bg-home-page.png") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }
  .home-page .content {
    padding-top: 160px; }
    .home-page .content .home-page-title {
      line-height: 60px;
      text-transform: uppercase;
      font-family: "raleway-bold";
      font-size: 48px; }
    .home-page .content .call-to-action-block {
      overflow: hidden; }
      .home-page .content .call-to-action-block .call-to-action-form {
        padding-top: 40px; }
        .home-page .content .call-to-action-block .call-to-action-form a {
          -webkit-border-radius: 8px;
                  border-radius: 8px;
          border: 2px solid #f70;
          background: #f70;
          font-family: "lato-regular";
          font-size: 24px;
          color: #fff;
          cursor: pointer;
          padding: 15px 60px;
          -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
          -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }
          .home-page .content .call-to-action-block .call-to-action-form a:hover {
            border-color: #d66400;
            background: #d66400;
            cursor: pointer; }
          .home-page .content .call-to-action-block .call-to-action-form a:active {
            border-color: #cc5f00;
            background: #cc5f00; }
          .home-page .content .call-to-action-block .call-to-action-form a:first-child {
            -webkit-border-radius: 8px;
                    border-radius: 8px;
            border: 2px solid #f70;
            background: transparent;
            font-family: "lato-regular";
            font-size: 24px;
            color: #fff;
            cursor: pointer;
            padding: 15px 30px;
            -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            margin-right: 17px; }
            .home-page .content .call-to-action-block .call-to-action-form a:first-child:hover {
              border-color: #d66400;
              background-color: #f70;
              background: #d66400; }
            .home-page .content .call-to-action-block .call-to-action-form a:first-child:active {
              border-color: #d66400;
              background-color: #f70;
              background: #d66400; }
      .home-page .content .call-to-action-block .description {
        background: url(../../../images/bg-call-to-action-description.png) no-repeat left 100px top 10px;
        line-height: 28px;
        font-family: "marck-script";
        font-size: 24px;
        padding: 60px 0 90px 190px; }
    .home-page .content .contact-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .home-page .content .contact-block .contact .title, .home-page .content .contact-block .contact .two-striped-title {
        font-family: "lato-semi-bold";
        font-size: 24px;
        margin-bottom: 40px; }
      .home-page .content .contact-block .contact .line {
        line-height: 22px;
        font-family: "lato-regular";
        font-size: 16px;
        color: #fff;
        padding-left: 50px;
        margin-bottom: 20px; }
      .home-page .content .contact-block .contact .map {
        background: url(../../../images/icons/placeholder.svg) no-repeat top left;
        -webkit-background-size: 30px 30px;
                background-size: 30px; }
      .home-page .content .contact-block .contact .phone {
        background: url(../../../images/icons/phone-call.svg) no-repeat top left;
        -webkit-background-size: 30px 30px;
                background-size: 30px; }
      .home-page .content .contact-block .contact .mail {
        background: url(../../../images/icons/email.svg) no-repeat top left;
        -webkit-background-size: 30px 30px;
                background-size: 30px; }
    @media only screen and (max-width: 1600px) {
      .home-page .content {
        padding-top: 20px; }
        .home-page .content .home-page-title {
          font-size: 40px;
          padding-right: 70px; }
        .home-page .content .call-to-action-block .call-to-action-form {
          padding-top: 20px; }
          .home-page .content .call-to-action-block .call-to-action-form .btn-block {
            padding-top: 10px; }
            .home-page .content .call-to-action-block .call-to-action-form .btn-block a {
              font-size: 18px;
              padding: 12px 60px; }
              .home-page .content .call-to-action-block .call-to-action-form .btn-block a:last-child {
                padding: 12px 75px; }
        .home-page .content .call-to-action-block .description {
          padding-bottom: 30px; }
        .home-page .content .contact-block .contact .title, .home-page .content .contact-block .contact .two-striped-title {
          font-size: 20px;
          margin-bottom: 20px; }
        .home-page .content .contact-block .contact .line {
          margin-bottom: 10px; } }
    @media only screen and (max-width: 1200px) {
      .home-page .content .call-to-action-block .call-to-action-form a {
        padding: 15px 55px; } }
    @media only screen and (max-width: 990px) {
      .home-page .content .contact-block {
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
    @media only screen and (max-width: 770px) {
      .home-page .content .call-to-action-block .call-to-action-form a {
        padding: 15px 45px; }
      .home-page .content .call-to-action-block .description {
        background-position-x: 40px;
        padding: 60px 30px 20px 140px; } }
    @media only screen and (max-width: 580px) {
      .home-page .content .call-to-action-block .call-to-action-form {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .home-page .content .call-to-action-block .call-to-action-form a {
          padding: 15px 40px; } }
    @media only screen and (max-width: 525px) {
      .home-page .content .home-page-title {
        font-size: 35px; }
      .home-page .content .call-to-action-block .call-to-action-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        padding: 40px 0 50px; }
        .home-page .content .call-to-action-block .call-to-action-form a {
          text-align: center;
          width: 100%; }
          .home-page .content .call-to-action-block .call-to-action-form a:first-child {
            margin-top: 15px; }
      .home-page .content .call-to-action-block .description {
        display: none; } }
    @media only screen and (max-width: 470px) {
      .home-page .content .home-page-title {
        padding-right: 0; }
      .home-page .content .contact-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
    @media only screen and (max-width: 425px) {
      .home-page .content .home-page-title {
        font-size: 26px;
        line-height: 35px; }
      .home-page .content .call-to-action-block .call-to-action-form {
        padding: 30px 0 40px; }
        .home-page .content .call-to-action-block .call-to-action-form a {
          font-size: 20px; }
          .home-page .content .call-to-action-block .call-to-action-form a:first-child {
            font-size: 20px; } }

.services-page {
  padding-top: 60px; }
  .services-page .slider-services .slick-list {
    min-height: 442px;
    padding-top: 42px; }
  .services-page .slider-services .service-card {
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid #fff;
    background-color: #fff;
    text-align: center;
    position: relative;
    padding: 0 20px 20px;
    margin: 0 5px; }
    .services-page .slider-services .service-card .icon-block {
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-image: -webkit-gradient(linear, right top, left bottom, from(#FA7804), to(#fcc323));
      background-image: -webkit-linear-gradient(top right, #FA7804 0%, #fcc323 100%);
      background-image: -o-linear-gradient(top right, #FA7804 0%, #fcc323 100%);
      background-image: linear-gradient(to bottom left, #FA7804 0%, #fcc323 100%);
      -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
      width: 84px;
      height: 84px;
      display: block;
      position: relative;
      margin: -42px auto; }
      .services-page .slider-services .service-card .icon-block img {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        margin: auto; }
    .services-page .slider-services .service-card .services-title {
      font-family: "raleway-semi-bold";
      font-size: 24px;
      color: #333;
      margin-top: 60px; }
    .services-page .slider-services .service-card ul {
      min-height: 160px;
      overflow: hidden;
      padding: 0 10px;
      margin: 30px 0; }
      .services-page .slider-services .service-card ul li {
        font-family: "lato-regular";
        font-size: 14px;
        color: #333;
        text-align: left;
        display: block;
        position: relative;
        padding-left: 15px;
        margin-bottom: 12px; }
        .services-page .slider-services .service-card ul li:last-child {
          margin-bottom: 0; }
        .services-page .slider-services .service-card ul li:before {
          content: ' ';
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          background-color: #f70;
          width: 6px;
          height: 6px;
          vertical-align: middle;
          display: block;
          position: absolute;
          top: 4px;
          left: 0; }
    .services-page .slider-services .service-card .btn-primary {
      width: 100%;
      font-family: "lato-regular";
      font-size: 18px; }
  .services-page .slider-services .slick-next {
    color: transparent;
    z-index: 1001;
    font-size: 0;
    cursor: pointer;
    position: absolute;
    right: -60px;
    top: 210px; }
    .services-page .slider-services .slick-next i {
      font-size: 16px !important; }
  .services-page .slider-services .slick-prev {
    color: transparent;
    z-index: 1001;
    font-size: 0;
    cursor: pointer;
    position: absolute;
    left: -60px;
    top: 210px; }
    .services-page .slider-services .slick-prev i {
      font-size: 16px !important; }
  @media only screen and (max-width: 1200px) {
    .services-page .slider-services .slick-next {
      right: -30px; }
    .services-page .slider-services .slick-prev {
      left: -30px; } }

.about-intro-content {
  background-color: #212832;
  overflow: hidden;
  padding-bottom: 210px; }
  .about-intro-content .fluid-description-about-us {
    background-repeat: no-repeat;
    background-position: 360px 40px, 200px bottom, 1300px 150px;
    background-image: url(/images/plant.png), url(/images/glasses.png), url(/images/coffe.png);
    background-color: #1b2434; }
    .about-intro-content .fluid-description-about-us .container-description-about-us {
      text-align: center;
      padding: 110px 0; }
      .about-intro-content .fluid-description-about-us .container-description-about-us .description {
        margin: 30px 0 60px; }
      .about-intro-content .fluid-description-about-us .container-description-about-us img {
        display: block;
        margin: 0 auto; }
  .about-intro-content .container-block-icon {
    width: 100%;
    margin-top: -120px; }
    .about-intro-content .container-block-icon .block-icon {
      -webkit-border-radius: 4px;
              border-radius: 4px;
      background-color: #fff;
      width: 270px;
      height: 360px;
      z-index: 1;
      position: relative;
      margin: 0 auto; }
      .about-intro-content .container-block-icon .block-icon img {
        -webkit-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
        position: absolute;
        left: 50%;
        top: 50%; }
  .about-intro-content .intro-scene .fluid-intro-line {
    padding-top: 130px; }
    .about-intro-content .intro-scene .fluid-intro-line:after {
      content: '';
      background-color: #f70;
      width: 30%;
      height: 2px;
      display: block; }
    .about-intro-content .intro-scene .fluid-intro-line:nth-child(2n):after {
      content: '';
      background-color: #f70;
      width: 30%;
      height: 2px;
      float: right;
      display: block; }
    .about-intro-content .intro-scene .fluid-intro-line:nth-child(2n) .intro-line .number-line {
      right: -200px;
      left: inherit; }
    .about-intro-content .intro-scene .fluid-intro-line .intro-line {
      position: relative;
      padding: 30px 0 25px; }
      .about-intro-content .intro-scene .fluid-intro-line .intro-line .title, .about-intro-content .intro-scene .fluid-intro-line .intro-line .two-striped-title {
        border-left: 6px solid #f70;
        font-size: 24px;
        padding: 15px 0 0 30px;
        margin-bottom: 20px; }
      .about-intro-content .intro-scene .fluid-intro-line .intro-line .number-line {
        width: 150px;
        text-align: center;
        line-height: 175px;
        font-family: "uni-sans";
        font-size: 234px;
        color: #3f444b;
        position: absolute;
        left: -200px;
        top: 0; }
  @media only screen and (max-width: 1440px) {
    .about-intro-content .fluid-description-about-us {
      background-position: 160px 40px, 100px bottom, 1060px 180px; }
    .about-intro-content .intro-scene .fluid-intro-line .intro-line .number-line {
      font-size: 200px;
      left: -130px; }
    .about-intro-content .intro-scene .fluid-intro-line:nth-child(2n) .intro-line .number-line {
      right: -130px; } }
  @media only screen and (max-width: 1350px) {
    .about-intro-content .intro-scene .fluid-intro-line .intro-line .number-line {
      display: none; } }
  @media only screen and (max-width: 1200px) {
    .about-intro-content .fluid-description-about-us {
      background-position: 60px 40px, 30px bottom, 900px 180px; } }
  @media only screen and (max-width: 1100px) {
    .about-intro-content .fluid-description-about-us {
      background-position: 60px 40px, 30px bottom, 810px 180px; }
      .about-intro-content .fluid-description-about-us .container-description-about-us img {
        width: 100%; } }
  @media only screen and (max-width: 1099px) {
    .about-intro-content {
      display: none; } }

.main-contact-block {
  height: 1080px;
  position: relative; }
  .main-contact-block .map {
    height: 100%; }
  .main-contact-block .our-contacts {
    background-color: rgba(25, 34, 48, 0.9);
    min-height: 440px;
    padding: 80px 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 0; }
    .main-contact-block .our-contacts .our-contacts-title {
      text-transform: uppercase;
      font-family: "raleway-light";
      font-size: 24px;
      margin-bottom: 40px; }
      .main-contact-block .our-contacts .our-contacts-title span {
        font-family: "raleway-bold";
        font-size: 18px;
        display: block;
        margin-bottom: 15px; }
    .main-contact-block .our-contacts .feedback {
      padding: 0 40px; }
      .main-contact-block .our-contacts .feedback .feedback-form .form-control {
        width: 100%;
        margin-bottom: 15px; }
      .main-contact-block .our-contacts .feedback .feedback-form textarea {
        width: 100%;
        min-height: 100px;
        max-height: 500px;
        resize: vertical;
        margin-bottom: 25px; }
      .main-contact-block .our-contacts .feedback .feedback-form .btn-primary {
        width: 100%; }
    .main-contact-block .our-contacts .contacts {
      padding: 0 40px; }
      .main-contact-block .our-contacts .contacts .tabs-content .contact-block {
        width: 100%;
        float: none;
        overflow: hidden; }
        .main-contact-block .our-contacts .contacts .tabs-content .contact-block .contact {
          width: 100%;
          overflow: hidden; }
          .main-contact-block .our-contacts .contacts .tabs-content .contact-block .contact .line {
            width: 50%;
            float: left;
            margin-bottom: 30px; }
  @media only screen and (max-width: 1200px) {
    .main-contact-block .our-contacts {
      padding: 40px 0; }
      .main-contact-block .our-contacts .feedback, .main-contact-block .our-contacts .contacts {
        padding: 0 15px; } }
  @media only screen and (max-width: 1000px) {
    .main-contact-block .our-contacts .contacts .tabs-content .contact-block .contact .line {
      width: 100%; } }

.user-page {
  background: url("../../../images/bg-user-page.png") no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .user-page .user-page-fluid {
    padding: 0; }
    .user-page .user-page-fluid .personal-profile-content {
      background: rgba(57, 74, 106, 0.8);
      height: 100vh;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .user-page .user-page-fluid .personal-profile-content .profiles-content-description {
        font-family: "lato-light";
        padding: 0 130px; }
        .user-page .user-page-fluid .personal-profile-content .profiles-content-description .info-content-title {
          font-family: "lato-light";
          font-size: 30px;
          color: #b75726;
          padding-bottom: 15px; }
        .user-page .user-page-fluid .personal-profile-content .profiles-content-description .info-content-text {
          font-size: 18px;
          line-height: 22px;
          padding-right: 120px; }
  @media only screen and (max-width: 1400px) {
    .user-page .user-page-fluid .personal-profile-content .stock-widget-block {
      padding-top: 0; }
    .user-page .user-page-fluid .personal-profile-content .profiles-content-description {
      padding: 0 10px; }
      .user-page .user-page-fluid .personal-profile-content .profiles-content-description .info-content-text {
        padding-right: 0; } }

.personal-information-block {
  padding: 35px 60px; }
  .personal-information-block .personal-information-tab {
    border-bottom: 1px solid #506387; }
    .personal-information-block .personal-information-tab ul li .fs-tabs-active {
      border-bottom: 3px solid #f70;
      color: #fff;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
    .personal-information-block .personal-information-tab ul li a {
      border-bottom: 3px solid transparent;
      font-family: "roboto-regular";
      font-size: 24px;
      color: #506387;
      padding: 0 40px 20px;
      margin-bottom: -2px; }
  .personal-information-block .personal-information-tab-content {
    padding: 30px 0; }
    .personal-information-block .personal-information-tab-content .personal-data-block {
      position: relative; }
      .personal-information-block .personal-information-tab-content .personal-data-block .personal-data-list {
        border-bottom: 2px dashed #202b3e;
        font-family: "roboto-light";
        font-size: 18px; }
        .personal-information-block .personal-information-tab-content .personal-data-block .personal-data-list lable {
          display: block;
          margin: 19px 0 19px 19px; }
        .personal-information-block .personal-information-tab-content .personal-data-block .personal-data-list .text {
          padding: 19px 0px 19px 21px; }
        .personal-information-block .personal-information-tab-content .personal-data-block .personal-data-list .form-control {
          width: 100%;
          font-family: "roboto-light";
          font-size: 18px;
          display: none; }
        .personal-information-block .personal-information-tab-content .personal-data-block .personal-data-list #save-name {
          display: none; }
        .personal-information-block .personal-information-tab-content .personal-data-block .personal-data-list .btn-link {
          font-family: "lato-light";
          color: #818690;
          float: right;
          margin: 19px 18px 18px; }
        .personal-information-block .personal-information-tab-content .personal-data-block .personal-data-list .save {
          display: none; }
      .personal-information-block .personal-information-tab-content .personal-data-block .upload {
        border: 2px dashed #202b3e;
        min-height: 80px;
        padding: 2px;
        margin: 25px 0 15px; }
        .personal-information-block .personal-information-tab-content .personal-data-block .upload .fs-upload-target {
          background-color: rgba(80, 99, 135, 0.4);
          font-family: "lato-light";
          font-size: 18px;
          color: #bbc5cf;
          text-align: center;
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
          padding: 28px 13px; }
          .personal-information-block .personal-information-tab-content .personal-data-block .upload .fs-upload-target:hover, .personal-information-block .personal-information-tab-content .personal-data-block .upload .fs-upload-target:active, .personal-information-block .personal-information-tab-content .personal-data-block .upload .fs-upload-target:focus {
            background-color: rgba(80, 99, 135, 0.6); }
    .personal-information-block .personal-information-tab-content .security-block {
      padding: 20px 0; }
      .personal-information-block .personal-information-tab-content .security-block .password-recovery-form .form-control {
        margin-right: 15px; }
        .personal-information-block .personal-information-tab-content .security-block .password-recovery-form .form-control:last-child {
          margin-right: 0; }
      .personal-information-block .personal-information-tab-content .security-block .subscription-design {
        padding: 50px 0; }
        .personal-information-block .personal-information-tab-content .security-block .subscription-design input[type="email"] {
          width: 460px; }
    .personal-information-block .personal-information-tab-content .tab-content-title {
      font-family: "roboto-light";
      font-size: 16px;
      margin-bottom: 15px; }
    .personal-information-block .personal-information-tab-content .btn-primary {
      -webkit-border-radius: 4px;
              border-radius: 4px;
      border: 2px solid #447563;
      background: #447563;
      font-family: "lato-light";
      font-size: 18px;
      color: #fff;
      cursor: pointer;
      padding: 12px 20px;
      -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      display: block;
      margin-top: 18px; }
      .personal-information-block .personal-information-tab-content .btn-primary:hover {
        border-color: #355b4d;
        background: #355b4d;
        cursor: pointer; }
      .personal-information-block .personal-information-tab-content .btn-primary:active {
        border-color: #315548;
        background: #315548; }
  @media only screen and (max-width: 1400px) {
    .personal-information-block .personal-information-tab-content .security-block .password-recovery-form .form-control {
      margin-right: 16px; } }

.user-message-content {
  background: #f2f6fc;
  -webkit-box-shadow: 0 0 29px 0 black;
          box-shadow: 0 0 29px 0 black;
  margin: 20px; }
  .user-message-content .successfully i {
    color: #57c059; }
  .user-message-content .expectation i {
    color: #f45b63; }
  .user-message-content .message-header {
    background: -webkit-linear-gradient(55deg, #f70, #ffd322);
    background: -o-linear-gradient(55deg, #f70, #ffd322);
    background: linear-gradient(35deg, #f70, #ffd322);
    height: 50px;
    padding: 15px 35px; }
    .user-message-content .message-header .header-title {
      font-family: "lato-light";
      font-size: 24px;
      font-weight: bold; }
  .user-message-content .message-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .user-message-content .message-box .message-navigation {
      border-right: 1px solid #e1e7f0;
      width: 22%; }
      .user-message-content .message-box .message-navigation .moving-messages ul {
        border-bottom: 1px solid #e1e7f0; }
        .user-message-content .message-box .message-navigation .moving-messages ul li {
          width: 100%;
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s; }
          .user-message-content .message-box .message-navigation .moving-messages ul li a {
            border-left: 4px solid transparent;
            width: 100%;
            font-family: "lato-light";
            font-size: 18px;
            font-weight: bold;
            color: #515974;
            -webkit-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            padding: 15px 35px; }
            .user-message-content .message-box .message-navigation .moving-messages ul li a img {
              padding-right: 15px; }
            .user-message-content .message-box .message-navigation .moving-messages ul li a:hover, .user-message-content .message-box .message-navigation .moving-messages ul li a:active, .user-message-content .message-box .message-navigation .moving-messages ul li a:focus {
              border-color: #f45b63; }
      .user-message-content .message-box .message-navigation .fs-tabs-active {
        border-left: 4px solid #f45b63 !important;
        background: #e1e7f0; }
      .user-message-content .message-box .message-navigation .filter-message {
        padding: 40px; }
        .user-message-content .message-box .message-navigation .filter-message .filter-title {
          color: #a5a6bb;
          font-family: "lato-light";
          font-size: 24px; }
        .user-message-content .message-box .message-navigation .filter-message .filtering-options {
          padding: 20px 5px 25px 5px; }
          .user-message-content .message-box .message-navigation .filter-message .filtering-options .filter {
            padding-bottom: 15px;
            font-family: "lato-light";
            font-size: 20px;
            color: #606780; }
          .user-message-content .message-box .message-navigation .filter-message .filtering-options .btn-primary {
            -webkit-border-radius: 20px;
                    border-radius: 20px;
            border: 2px solid #f70;
            background: #f70;
            font-family: "lato-light";
            font-size: 18px;
            color: #fff;
            cursor: pointer;
            padding: 5px;
            -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            width: 100%;
            margin-top: 20px; }
            .user-message-content .message-box .message-navigation .filter-message .filtering-options .btn-primary:hover {
              border-color: #d66400;
              background: #d66400;
              cursor: pointer; }
            .user-message-content .message-box .message-navigation .filter-message .filtering-options .btn-primary:active {
              border-color: #cc5f00;
              background: #cc5f00; }
    .user-message-content .message-box .message-container {
      width: 78%;
      padding-left: 40px; }
      .user-message-content .message-box .message-container .message-list .fs-scrollbar-content {
        padding: 0; }
      .user-message-content .message-box .message-container .message-list .message-link {
        border-left: 4px solid transparent;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }
        .user-message-content .message-box .message-container .message-list .message-link:nth-child(2n) {
          background: #e1e7f0; }
        .user-message-content .message-box .message-container .message-list .message-link:hover, .user-message-content .message-box .message-container .message-list .message-link:focus, .user-message-content .message-box .message-container .message-list .message-link:active {
          border-left: 4px solid #f45b63; }
        .user-message-content .message-box .message-container .message-list .message-link .message-item {
          line-height: 20px;
          font-family: "lato-regular";
          font-size: 18px;
          color: #515974;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          padding: 15px 15px 10px; }
          .user-message-content .message-box .message-container .message-list .message-link .message-item .message-icon {
            padding-right: 15px; }
            .user-message-content .message-box .message-container .message-list .message-link .message-item .message-icon i {
              vertical-align: baseline;
              font-weight: 900;
              font-size: 18px; }
          .user-message-content .message-box .message-container .message-list .message-link .message-item .message-sender {
            width: 20%; }
          .user-message-content .message-box .message-container .message-list .message-link .message-item .message-text {
            width: 60%;
            -o-text-overflow: ellipsis;
               text-overflow: ellipsis;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            padding: 0 10px; }
          .user-message-content .message-box .message-container .message-list .message-link .message-item .message-date {
            text-align: right; }
          .user-message-content .message-box .message-container .message-list .message-link .message-item .message-delete {
            padding-left: 80px; }
            .user-message-content .message-box .message-container .message-list .message-link .message-item .message-delete i {
              font-size: 16px;
              -webkit-transition: all .5s;
              -o-transition: all .5s;
              transition: all .5s;
              padding: 0 0 7px 10px; }
              .user-message-content .message-box .message-container .message-list .message-link .message-item .message-delete i:hover, .user-message-content .message-box .message-container .message-list .message-link .message-item .message-delete i:focus, .user-message-content .message-box .message-container .message-list .message-link .message-item .message-delete i:active {
                color: #f70; }
        .user-message-content .message-box .message-container .message-list .message-link a {
          display: block; }
  @media only screen and (max-width: 1400px) {
    .user-message-content .message-box .message-navigation {
      width: 26%; }
      .user-message-content .message-box .message-navigation .moving-messages ul li a {
        padding: 15px; }
    .user-message-content .message-box .message-container {
      width: 74%;
      padding-left: 20px; }
      .user-message-content .message-box .message-container .message-list .message-link .message-item .message-sender {
        width: 30%; }
      .user-message-content .message-box .message-container .message-list .message-link .message-item .message-text {
        width: 45%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; }
      .user-message-content .message-box .message-container .message-list .message-link .message-item .message-delete {
        padding-left: 15px; } }

.catalog-services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  padding: 15px 15px 60px; }
  .catalog-services .service-card {
    -webkit-border-radius: 6px;
            border-radius: 6px;
    background-color: #fff;
    text-align: center;
    width: 250px;
    padding-bottom: 20px;
    margin-bottom: 15px; }
    .catalog-services .service-card .img {
      -webkit-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat !important;
      background-position: center !important;
      width: 100%;
      height: 200px;
      position: relative; }
      .catalog-services .service-card .img .service-card-title {
        background: -webkit-linear-gradient(325deg, rgba(76, 78, 82, 0.6), rgba(56, 81, 130, 0.6));
        background: -o-linear-gradient(325deg, rgba(76, 78, 82, 0.6), rgba(56, 81, 130, 0.6));
        background: linear-gradient(125deg, rgba(76, 78, 82, 0.6), rgba(56, 81, 130, 0.6));
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        font-family: "lato-light";
        font-weight: 900;
        font-size: 30px;
        position: absolute;
        top: 0; }
    .catalog-services .service-card p {
      text-align: left;
      font-family: "roboto-light";
      font-size: 14px;
      color: #333333;
      padding: 20px; }
    .catalog-services .service-card .btn-primary {
      -webkit-border-radius: 20px;
              border-radius: 20px;
      font-family: "roboto-light";
      font-size: 16px;
      padding: 10px 30px; }

.form-leave-feedback {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100%; }
  .form-leave-feedback .feedback-title {
    font-family: "lato-light";
    font-size: 20px; }
  .form-leave-feedback .feedback-content {
    padding-top: 15px; }
    .form-leave-feedback .feedback-content .form-control {
      -webkit-box-shadow: 0 0 30px 0 #fff;
              box-shadow: 0 0 30px 0 #fff; }
    .form-leave-feedback .feedback-content .feedback-user-name {
      padding-bottom: 15px; }
      .form-leave-feedback .feedback-content .feedback-user-name .form-control {
        -webkit-border-radius: 6px;
                border-radius: 6px;
        border: 1px solid #808080;
        background-color: #fff;
        font-family: "lato-light";
        font-size: 16px;
        color: #bababa;
        outline: none;
        -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        padding: 14px 20px;
        width: 240px; }
        .form-leave-feedback .feedback-content .feedback-user-name .form-control::-webkit-input-placeholder {
          color: #bababa; }
        .form-leave-feedback .feedback-content .feedback-user-name .form-control::-moz-placeholder {
          color: #bababa; }
        .form-leave-feedback .feedback-content .feedback-user-name .form-control:focus {
          border-color: #f70;
          -webkit-box-shadow: 0 0 0 1px #f70;
                  box-shadow: 0 0 0 1px #f70; }
    .form-leave-feedback .feedback-content .form-text-area {
      -webkit-border-radius: 6px;
              border-radius: 6px;
      border: 1px solid #808080;
      background-color: #fff;
      font-family: "lato-light";
      font-size: 16px;
      color: #bababa;
      outline: none;
      -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      padding: 14px 20px;
      width: 484px;
      height: 150px;
      resize: none; }
      .form-leave-feedback .feedback-content .form-text-area::-webkit-input-placeholder {
        color: #bababa; }
      .form-leave-feedback .feedback-content .form-text-area::-moz-placeholder {
        color: #bababa; }
      .form-leave-feedback .feedback-content .form-text-area:focus {
        border-color: #f70;
        -webkit-box-shadow: 0 0 0 1px #f70;
                box-shadow: 0 0 0 1px #f70; }
    .form-leave-feedback .feedback-content .feedback-button {
      padding-top: 15px; }
      .form-leave-feedback .feedback-content .feedback-button .btn-primary {
        -webkit-border-radius: 24px;
                border-radius: 24px;
        border: 2px solid #f70;
        background: #f70;
        font-family: "lato-light";
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        padding: 5px 55px;
        -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }
        .form-leave-feedback .feedback-content .feedback-button .btn-primary:hover {
          border-color: #d66400;
          background: #d66400;
          cursor: pointer; }
        .form-leave-feedback .feedback-content .feedback-button .btn-primary:active {
          border-color: #cc5f00;
          background: #cc5f00; }

.form-order-services {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }
  .form-order-services .order-title {
    font-family: "roboto-regular";
    font-size: 24px; }
  .form-order-services .order-content {
    padding-top: 25px; }
    .form-order-services .order-content .label-for-information {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .form-order-services .order-content .label-for-information .label-width {
        width: 264px; }
    .form-order-services .order-content .order-information {
      padding-bottom: 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .form-order-services .order-content .order-information .form-control {
        -webkit-border-radius: 6px;
                border-radius: 6px;
        border: 1px solid #808080;
        background-color: #fff;
        font-family: "lato-light";
        font-size: 16px;
        color: #bababa;
        outline: none;
        -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        padding: 14px 20px;
        width: 260px;
        margin-left: 4px; }
        .form-order-services .order-content .order-information .form-control::-webkit-input-placeholder {
          color: #bababa; }
        .form-order-services .order-content .order-information .form-control::-moz-placeholder {
          color: #bababa; }
        .form-order-services .order-content .order-information .form-control:focus {
          border-color: #f70;
          -webkit-box-shadow: 0 0 0 1px #f70;
                  box-shadow: 0 0 0 1px #f70; }
      .form-order-services .order-content .order-information .fs-dropdown {
        width: 260px; }
    .form-order-services .order-content .form-text-area {
      -webkit-border-radius: 6px;
              border-radius: 6px;
      border: 1px solid #808080;
      background-color: #fff;
      font-family: "lato-light";
      font-size: 16px;
      color: #bababa;
      outline: none;
      -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      padding: 14px 20px;
      width: 524px;
      height: 150px;
      resize: none; }
      .form-order-services .order-content .form-text-area::-webkit-input-placeholder {
        color: #bababa; }
      .form-order-services .order-content .form-text-area::-moz-placeholder {
        color: #bababa; }
      .form-order-services .order-content .form-text-area:focus {
        border-color: #f70;
        -webkit-box-shadow: 0 0 0 1px #f70;
                box-shadow: 0 0 0 1px #f70; }
    .form-order-services .order-content .order-button {
      text-align: center;
      padding-top: 15px; }
      .form-order-services .order-content .order-button .btn-primary {
        -webkit-border-radius: 24px;
                border-radius: 24px;
        border: 2px solid #f70;
        background: #f70;
        font-family: "lato-light";
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        padding: 5px 25px;
        -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }
        .form-order-services .order-content .order-button .btn-primary:hover {
          border-color: #d66400;
          background: #d66400;
          cursor: pointer; }
        .form-order-services .order-content .order-button .btn-primary:active {
          border-color: #cc5f00;
          background: #cc5f00; }
    .form-order-services .order-content .title-for-form-control {
      padding-bottom: 4px;
      font-family: "lato-regular";
      font-size: 14px; }

.fluid-additional-information {
  background: url(/images/bg-why-we.jpg) no-repeat center top;
  -webkit-background-size: cover;
          background-size: cover; }
  .fluid-additional-information .additional-information {
    padding: 80px 0 100px; }
    .fluid-additional-information .additional-information .additional-information-item {
      background: url(/images/bg-aditional-information-item.png) no-repeat top left;
      width: 263px;
      max-height: 300px;
      margin: 0 auto; }
      .fluid-additional-information .additional-information .additional-information-item .item-title {
        text-transform: uppercase;
        text-align: center;
        font-family: "raleway-extra-bold";
        font-size: 36px;
        padding: 50px 0 30px; }
        .fluid-additional-information .additional-information .additional-information-item .item-title .number-item {
          line-height: 50px;
          font-family: "uni-sans";
          font-size: 60px;
          display: inline-block; }
  @media only screen and (max-width: 990px) {
    .fluid-additional-information .additional-information {
      padding: 80px 0; }
      .fluid-additional-information .additional-information .additional-information-item {
        width: 100%; }
        .fluid-additional-information .additional-information .additional-information-item .description {
          display: none; } }

.home-page-parallax-scene {
  position: absolute !important;
  bottom: -20px; }
  @media only screen and (max-width: 991px) {
    .home-page-parallax-scene {
      display: none; } }
  .home-page-parallax-scene .layer:nth-child(1n) {
    left: -10px !important; }
  .home-page-parallax-scene .layer:nth-child(2n) {
    left: 300px !important;
    top: 460px !important; }
  .home-page-parallax-scene .layer:nth-child(3n) {
    left: 50px !important;
    top: -120px !important; }
  .home-page-parallax-scene .layer:nth-child(4n) {
    left: 580px !important;
    top: 50px !important; }
  @media only screen and (max-width: 1600px) {
    .home-page-parallax-scene .layer:nth-child(1n) {
      top: 30px !important; }
      .home-page-parallax-scene .layer:nth-child(1n) img {
        width: 400px; }
    .home-page-parallax-scene .layer:nth-child(2n) {
      left: 220px !important;
      top: 420px !important; }
      .home-page-parallax-scene .layer:nth-child(2n) img {
        width: 220px; }
    .home-page-parallax-scene .layer:nth-child(3n) {
      top: -65px !important; }
      .home-page-parallax-scene .layer:nth-child(3n) img {
        width: 180px; }
    .home-page-parallax-scene .layer:nth-child(4n) {
      left: 400px !important;
      top: 30px !important; }
      .home-page-parallax-scene .layer:nth-child(4n) img {
        width: 80px; } }
  @media only screen and (max-width: 1200px) {
    .home-page-parallax-scene .layer:nth-child(1n) {
      left: -30px !important;
      top: 30px !important; }
      .home-page-parallax-scene .layer:nth-child(1n) img {
        width: 350px; }
    .home-page-parallax-scene .layer:nth-child(2n) {
      left: 220px !important;
      top: 370px !important; }
      .home-page-parallax-scene .layer:nth-child(2n) img {
        width: 180px; }
    .home-page-parallax-scene .layer:nth-child(3n) {
      left: 40px !important;
      top: -80px !important; }
      .home-page-parallax-scene .layer:nth-child(3n) img {
        width: 180px; }
    .home-page-parallax-scene .layer:nth-child(4n) {
      left: 330px !important;
      top: 30px !important; }
      .home-page-parallax-scene .layer:nth-child(4n) img {
        width: 80px; } }

.fluid-widget-contacts {
  max-height: 515px;
  height: 515px;
  position: relative; }
  .fluid-widget-contacts .widget-contacts {
    background-color: rgba(24, 33, 47, 0.9);
    width: 800px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0; }
    .fluid-widget-contacts .widget-contacts .contacts {
      width: 413px;
      padding: 50px 0 20px; }
      .fluid-widget-contacts .widget-contacts .contacts .our-contacts-title {
        text-transform: uppercase;
        font-family: "raleway-light";
        font-size: 24px;
        margin-bottom: 40px; }
        .fluid-widget-contacts .widget-contacts .contacts .our-contacts-title span {
          font-family: "raleway-bold";
          font-size: 18px;
          display: block;
          margin-bottom: 15px; }
      .fluid-widget-contacts .widget-contacts .contacts .tabs {
        border-bottom: 1px solid #808080; }
        .fluid-widget-contacts .widget-contacts .contacts .tabs .contact-block {
          width: 100%;
          float: none;
          overflow: hidden; }
          .fluid-widget-contacts .widget-contacts .contacts .tabs .contact-block .contact {
            width: 100%;
            overflow: hidden; }
            .fluid-widget-contacts .widget-contacts .contacts .tabs .contact-block .contact .line {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              margin-bottom: 30px; }
              .fluid-widget-contacts .widget-contacts .contacts .tabs .contact-block .contact .line:last-child {
                margin-bottom: 0; }
              .fluid-widget-contacts .widget-contacts .contacts .tabs .contact-block .contact .line .info {
                margin-left: 30px; }
      .fluid-widget-contacts .widget-contacts .contacts .social-networks {
        width: 100%;
        text-align: center;
        padding: 15px 0; }
        .fluid-widget-contacts .widget-contacts .contacts .social-networks li {
          margin: 0 6px; }
  @media only screen and (max-width: 1440px) {
    .fluid-widget-contacts .widget-contacts {
      width: 460px; } }
  @media only screen and (max-width: 900px) {
    .fluid-widget-contacts .widget-contacts {
      width: 456px; }
      .fluid-widget-contacts .widget-contacts .contacts {
        width: 360px; } }
  @media only screen and (max-width: 768px) {
    .fluid-widget-contacts .widget-contacts {
      width: 400px; } }

.fluid-our-advantages {
  background-color: #212832; }
  .fluid-our-advantages .our-advantages {
    padding: 100px 0 200px; }
    .fluid-our-advantages .our-advantages .our-advantages-item {
      width: 260px;
      text-align: center;
      margin: 80px auto 0; }
      .fluid-our-advantages .our-advantages .our-advantages-item .icon-block {
        background-image: -webkit-linear-gradient(45deg, #fdbf1b 0%, #f97804 100%);
        background-image: -o-linear-gradient(45deg, #fdbf1b 0%, #f97804 100%);
        background-image: linear-gradient(45deg, #fdbf1b 0%, #f97804 100%);
        -webkit-border-radius: 50%;
                border-radius: 50%;
        width: 83px;
        height: 83px;
        -webkit-box-shadow: 0 0 35px #fa8809;
                box-shadow: 0 0 35px #fa8809;
        margin: 0 auto 20px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        position: relative; }
        .fluid-our-advantages .our-advantages .our-advantages-item .icon-block:hover {
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .fluid-our-advantages .our-advantages .our-advantages-item .icon-block img {
          -webkit-transform: translateX(-50%) translateY(-50%);
              -ms-transform: translateX(-50%) translateY(-50%);
                  transform: translateX(-50%) translateY(-50%);
          position: absolute;
          left: 50%;
          top: 50%; }
  @media only screen and (max-width: 990px) {
    .fluid-our-advantages .our-advantages {
      padding: 100px 0; }
      .fluid-our-advantages .our-advantages .our-advantages-item {
        width: 100%; } }

.arcticmodal-overlay {
  background-color: rgba(27, 36, 52, 0.93) !important;
  opacity: 1 !important; }

.box-modal {
  max-width: 320px; }
  .box-modal .box-modal_close {
    text-align: right; }
    .box-modal .box-modal_close i {
      cursor: pointer;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .box-modal .box-modal_close i:hover {
        color: #f70; }
  .box-modal .md-content {
    background: transparent;
    color: #fff;
    text-align: center;
    position: relative;
    margin: 0 auto; }
    .box-modal .md-content .md-content-title {
      font-family: "lato-regular";
      font-size: 24px;
      margin: 20px 0; }
    .box-modal .md-content .form-control {
      -webkit-border-radius: 8px;
              border-radius: 8px;
      border: 1px solid #fff;
      background-color: #fff;
      font-family: "lato-light";
      font-size: 18px;
      color: #333;
      outline: none;
      -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      padding: 0 18px;
      width: 100%;
      height: 55px;
      margin-bottom: 20px; }
      .box-modal .md-content .form-control::-webkit-input-placeholder {
        color: #333; }
      .box-modal .md-content .form-control::-moz-placeholder {
        color: #333; }
      .box-modal .md-content .form-control:focus {
        border-color: #f70;
        -webkit-box-shadow: 0 0 0 1px #f70;
                box-shadow: 0 0 0 1px #f70; }
    .box-modal .md-content .fs-dropdown {
      margin-bottom: 20px; }
    .box-modal .md-content .btn-primary {
      width: 100%; }

.stock-widget-block {
  padding: 16px 0 80px; }
  .stock-widget-block .stock-widget-title {
    font-family: "lato-light";
    font-size: 30px;
    text-transform: uppercase;
    padding: 20px 130px; }
  .stock-widget-block .stock-widget-slider {
    padding: 0 120px; }
    .stock-widget-block .stock-widget-slider .stock-widget-card {
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: 1px solid transparent;
      -webkit-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat !important;
      background-position: center !important;
      width: 280px;
      height: auto;
      overflow: hidden;
      text-align: center;
      padding: 50px 15px;
      margin: 0 auto; }
      .stock-widget-block .stock-widget-slider .stock-widget-card .stock-widget-card-title {
        font-family: "lato-regular";
        font-size: 22px;
        line-height: 30px; }
      .stock-widget-block .stock-widget-slider .stock-widget-card .share-date {
        -webkit-border-radius: 5px;
                border-radius: 5px;
        border: 2px solid #f70;
        background-color: rgba(255, 119, 0, 0.3);
        display: inline-block;
        margin-top: 15px;
        padding: 8px 40px; }
    .stock-widget-block .stock-widget-slider .slick-prev {
      color: #000;
      z-index: 1001;
      font-size: 0;
      cursor: pointer;
      position: absolute;
      left: 10px;
      top: 95px;
      padding: 10px 0; }
      .stock-widget-block .stock-widget-slider .slick-prev i {
        font-size: auto !important; }
    .stock-widget-block .stock-widget-slider .slick-next {
      color: #000;
      z-index: 1001;
      font-size: 0;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 95px;
      padding: 10px 0; }
      .stock-widget-block .stock-widget-slider .slick-next i {
        font-size: auto !important; }
  @media only screen and (max-width: 1400px) {
    .stock-widget-block .stock-widget-title {
      padding: 20px 120px; } }
  @media only screen and (max-width: 1199px) {
    .stock-widget-block .stock-widget-slider .stock-widget-card {
      -webkit-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat !important;
      background-position: center !important;
      width: 340px;
      height: 240px; } }
  @media only screen and (max-width: 990px) {
    .stock-widget-block .stock-widget-slider .stock-widget-card {
      -webkit-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat !important;
      background-position: center !important;
      width: 440px;
      height: 220px; } }

.fluid-our-clients {
  background-color: #212832; }
  .fluid-our-clients .our-clients {
    padding: 100px 0 200px; }
    .fluid-our-clients .our-clients .our-clients-slider {
      margin-top: 50px; }
      .fluid-our-clients .our-clients .our-clients-slider .slick-slide:first-child .our-clients-slider-caption {
        border-left-width: 0; }
      .fluid-our-clients .our-clients .our-clients-slider .slick-slide:last-child .our-clients-slider-caption {
        border-right-width: 0; }
      .fluid-our-clients .our-clients .our-clients-slider .slick-slide .our-clients-slider-caption {
        border-left: 1px solid #171c23;
        border-right: 1px solid #383e47;
        height: 100px;
        max-height: 100px;
        text-align: center;
        position: relative;
        overflow: hidden; }
        .fluid-our-clients .our-clients .our-clients-slider .slick-slide .our-clients-slider-caption img {
          display: inline-block;
          -webkit-transform: translateX(-50%) translateY(-50%);
              -ms-transform: translateX(-50%) translateY(-50%);
                  transform: translateX(-50%) translateY(-50%);
          position: absolute;
          left: 50%;
          top: 50%; }
  @media only screen and (max-width: 1000px) {
    .fluid-our-clients .our-clients {
      padding: 100px 0; } }

.form-control {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #808080;
  background-color: rgba(25, 34, 48, 0.6);
  font-family: "lato-light";
  font-size: 16px;
  color: #fff;
  outline: none;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  padding: 15px 20px; }
  .form-control::-webkit-input-placeholder {
    color: #fff; }
  .form-control::-moz-placeholder {
    color: #fff; }
  .form-control:focus {
    border-color: #f70;
    -webkit-box-shadow: 0 0 0 1px #f70;
            box-shadow: 0 0 0 1px #f70; }

.form-invalid {
  border-color: #dc3545;
  -webkit-box-shadow: 0 0 0 1px #dc3545;
          box-shadow: 0 0 0 1px #dc3545; }
  .form-invalid:focus {
    border-color: #dc3545;
    -webkit-box-shadow: 0 0 0 1px #dc3545;
            box-shadow: 0 0 0 1px #dc3545; }

textarea {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #808080;
  background-color: rgba(25, 34, 48, 0.6);
  font-family: "lato-light";
  font-size: 16px;
  color: #fff;
  outline: none;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  padding: 15px 20px; }
  textarea::-webkit-input-placeholder {
    color: #fff; }
  textarea::-moz-placeholder {
    color: #fff; }
  textarea:focus {
    border-color: #f70;
    -webkit-box-shadow: 0 0 0 1px #f70;
            box-shadow: 0 0 0 1px #f70; }

.preloader-overlay {
  background-color: #1b2434;
  width: 100%;
  height: 100vh;
  z-index: 1001;
  display: none !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0; }
  .preloader-overlay img {
    width: 100px;
    height: 100px;
    -webkit-animation: 1s linear 0s normal none infinite running rot;
            animation: 1s linear 0s normal none infinite running rot; }

.fs-scrollbar-content {
  outline: none; }

.fs-scrollbar-active .fs-scrollbar-content, .fs-scrollbar-setup .fs-scrollbar-content {
  padding: 0; }

.fs-scrollbar-bar {
  border-color: transparent;
  background: transparent;
  width: 12px;
  padding: 0 2px; }
  .fs-scrollbar-bar .fs-scrollbar-track {
    background: transparent; }
    .fs-scrollbar-bar .fs-scrollbar-track .fs-scrollbar-handle {
      background-color: #515974;
      width: 10px; }

.messages-danger {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #721c24;
  background-color: #ffa4ac;
  color: #721c24;
  padding: 15px 20px;
  margin: 10px 0; }

.fs-dropdown {
  outline: none; }
  .fs-dropdown .fs-dropdown-selected {
    -webkit-border-radius: 8px;
            border-radius: 8px;
    border: 1px solid #808080;
    height: 55px;
    font-family: "lato-regular";
    font-size: 18px;
    color: #343434;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    position: relative;
    padding: 6px 40px 0 18px; }
    .fs-dropdown .fs-dropdown-selected:after {
      content: ' ';
      background-color: rgba(128, 128, 128, 0.3);
      color: #fff;
      display: block;
      padding: 15px;
      position: absolute;
      bottom: 0;
      right: 0;
      top: 0; }
  .fs-dropdown .fs-dropdown-options {
    -webkit-border-radius: 8px;
            border-radius: 8px;
    border: 1px solid #f70;
    -webkit-box-shadow: 0 0 0 1 #f70;
            box-shadow: 0 0 0 1 #f70;
    margin-top: 10px; }
    .fs-dropdown .fs-dropdown-options .fs-scrollbar-handle {
      background-color: #f70;
      -webkit-border-radius: 8px;
              border-radius: 8px;
      width: 10px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      margin: 0 5px; }
      .fs-dropdown .fs-dropdown-options .fs-scrollbar-handle:hover {
        background-color: #eb6d00; }
    .fs-dropdown .fs-dropdown-options .fs-scrollbar-content .fs-dropdown-item {
      font-family: "lato-light";
      font-size: 18px;
      padding: 8px 18px; }
      .fs-dropdown .fs-dropdown-options .fs-scrollbar-content .fs-dropdown-item:hover {
        background-color: #f70;
        color: #fff; }
    .fs-dropdown .fs-dropdown-options .fs-scrollbar-content .fs-dropdown-item_selected {
      background-color: #f70;
      color: #fff; }
      .fs-dropdown .fs-dropdown-options .fs-scrollbar-content .fs-dropdown-item_selected:hover {
        background-color: #eb6d00; }

.fs-dropdown-open .fs-dropdown-selected {
  border-color: #f70;
  -webkit-box-shadow: 0 0 0 1px #f70;
          box-shadow: 0 0 0 1px #f70; }

button {
  outline: none; }
  button i {
    vertical-align: middle; }

.btn-primary {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: 1px solid #f70;
  background: #f70;
  font-family: "lato-light";
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  padding: 12px 10px;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }
  .btn-primary:hover {
    border-color: #d66400;
    background: #d66400;
    cursor: pointer; }
  .btn-primary:active {
    border-color: #cc5f00;
    background: #cc5f00; }

.btn-link {
  -webkit-border-radius: 0;
          border-radius: 0;
  border: 0;
  background: none;
  font-family: "lato-medium";
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  padding: 0;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }
  .btn-link:hover {
    color: #fff; }
  .btn-link:active {
    color: #fff; }

.tabs .tabs-caption {
  overflow: hidden; }
  .tabs .tabs-caption .btn-tab {
    border-bottom: 1px solid #808080;
    width: 50%;
    font-family: "lato-regular";
    font-size: 18px;
    float: left;
    cursor: pointer;
    padding: 0 6px 12px; }
  .tabs .tabs-caption .fs-tabs-active {
    border-bottom: 1px solid #f70; }

.tabs .tabs-content {
  padding: 30px 0; }

/*# sourceMappingURL=maps/main.css.map */
