// Стили виджета допонительной информации "Почему мы ?", на странице "О нас"

.fluid-additional-information {
    background: url(/images/bg-why-we.jpg) no-repeat center top;
    background-size: cover;

    .additional-information {
        padding: 80px 0 100px;

        .additional-information-item {
            background: url(/images/bg-aditional-information-item.png) no-repeat top left;
            width: 263px;
            max-height: 300px;
            margin: 0 auto;
            .item-title {
                text: {
                    transform: uppercase;
                    align: center;
                }
                font: {
                    family: $font-raleway-extrabold;
                    size: 36px;
                }
                padding: 50px 0 30px;
                .number-item {
                    line-height: 50px;
                    font: {
                        family: $font-uni-sans;
                        size: 60px; 
                    }
                    display: inline-block;
                }
            }
        }
    }
    @include max-screen(990px) {
        .additional-information {
            padding: 80px 0;
            .additional-information-item {
                width: 100%;
                .description {
                    display: none;
                }
            }
        }

    }
}