// Стили используемых кнопок

button {
    outline: none;
    i {
        vertical-align: middle;
    }
}

.btn-primary {
    @include generation-btn($dcm-brand-color, 1px solid, 6px, 24px, #fff, $font-lato-light, 12px 10px);
}

.btn-link {
    @include generation-btn($bg-style: link);
}