.fs-dropdown {
    outline: none;
    .fs-dropdown-selected {
        border-radius: 8px;
        border: 1px solid #808080;
        height: 55px;
        font: {
            family: $font-lato-regular;
            size: 18px;
        }
        color: #343434;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        position: relative;
        padding: 6px 40px 0 18px;
        &:after {
            content: ' ';
            background-color: rgba(128, 128, 128, 0.3);
            color: #fff;
            display: block;
            padding: 15px;
            position: absolute;
            bottom: 0;
            right: 0;
            top: 0;
        }
    }
    .fs-dropdown-options {
        border-radius: 8px;
        border: 1px solid $dcm-brand-color;
        box-shadow: 0 0 0 1 $dcm-brand-color;
        margin-top: 10px;
        .fs-scrollbar-handle {
            background-color: $dcm-brand-color;
            border-radius: 8px;
            width: 10px;
            transition: .3s;
            margin: 0 5px;
            &:hover {
                background-color: $dcm-brand-dark-color;
            }
        }
        .fs-scrollbar-content {
            .fs-dropdown-item {
                font: {
                    family: $font-lato-light;
                    size: 18px;
                }
                padding: 8px 18px;
                &:hover {
                    background-color: $dcm-brand-color;
                    color: #fff;
                }
            }
            .fs-dropdown-item_selected {
                background-color: $dcm-brand-color;
                color: #fff;
                &:hover {
                    background-color: $dcm-brand-dark-color;
                }
            }
        }
    }
}

.fs-dropdown-open {
    .fs-dropdown-selected {
        border-color: $dcm-brand-color;
        box-shadow: 0 0 0 1px $dcm-brand-color;
    }
}

//.fs-dropdown-bottom {
//    .fs-dropdown-selected {
//        border-bottom-color: $dcm-brand-color;
//        border-radius: 8px !important;
//    }
//    .fs-dropdown-options {
//        border-radius: 8px 8px 0 0 !important;
//    }
//}