//= home page parallax scene

.home-page-parallax-scene {
    position: absolute !important;
    bottom: -20px;

    @include max-screen(991px) {
        display: none;
    }

    .layer {
        &:nth-child(1n) {
            left: -10px !important;
        }
        &:nth-child(2n) {
            left: 300px !important;
            top: 460px !important;
        }
        &:nth-child(3n) {
            left: 50px !important;
            top: -120px !important;
        }
        &:nth-child(4n) {
            left: 580px !important;
            top: 50px !important;
        }

        @include max-screen(1600px) {
            &:nth-child(1n) {
                top: 30px !important;
                img {
                    width: 400px;
                }
            }
            &:nth-child(2n) {
                left: 220px !important;
                top: 420px !important;
                img {
                    width: 220px;
                }
            }
            &:nth-child(3n) {
                top: -65px !important;
                img {
                    width: 180px;
                }
            }
            &:nth-child(4n) {
                left: 400px !important;
                top: 30px !important;
                img {
                    width: 80px;
                }
            }
        }

        @include max-screen(1200px) {
            &:nth-child(1n) {
                left: -30px !important;
                top: 30px !important;
                img {
                    width: 350px;
                }
            }
            &:nth-child(2n) {
                left: 220px !important;
                top: 370px !important;
                img {
                    width: 180px;
                }
            }
            &:nth-child(3n) {
                left: 40px !important;
                top: -80px !important;
                img {
                    width: 180px;
                }
            }
            &:nth-child(4n) {
                left: 330px !important;
                top: 30px !important;
                img {
                    width: 80px;
                }
            }
        }
    }
}