// Стили для сообщений валидации

.messages-danger {
    border-radius: 4px;
    border: 1px solid #721c24;
    background-color: #ffa4ac;
    color: #721c24;
    padding: 15px 20px;
    margin: 10px 0;
}