// Стили для всех модальных окон

.arcticmodal-overlay {
    background-color: $dcm-overlay-bg-color !important;
    opacity: 1 !important;
}

.box-modal {
    max-width: 320px;
    .box-modal_close {
        text-align: right;
        i {
            cursor: pointer;
            transition: all .3s;
            &:hover {
                color: $dcm-brand-color;
            }
        }
    }
    .md-content {
        background: transparent;
        color: #fff;
        text-align: center;
        position: relative;
        margin: 0 auto;
        .md-content-title {
            font: {
                family: $font-lato-regular;
                size: 24px;
            }
            margin: 20px 0;
        }
        .form-control {
            @include generation-form($dcm-brand-color, #fff, #fff, #333, 8px, 1px solid, 0 18px, 18px);
            width: 100%;
            height: 55px;
            margin-bottom: 20px;
        }
        .fs-dropdown {
            margin-bottom: 20px;
        }
        .btn-primary {
            width: 100%;
        }
    }
}