// Стили виджета с информацией о клиентах и партнерах фирмы "НАМ УЖЕ ДОВЕРЯЮТ", на странцие "О нас"

.fluid-our-clients {
    background-color: #212832;
    .our-clients {
        padding: 100px 0 200px;
        .our-clients-slider {
            margin-top: 50px;
            .slick-slide {
                &:first-child {
                    .our-clients-slider-caption {
                        border-left-width: 0;
                    }
                }
                &:last-child {
                    .our-clients-slider-caption {
                        border-right-width: 0;
                    }
                }
                .our-clients-slider-caption {
                    border-left: 1px solid #171c23;
                    border-right: 1px solid #383e47;
                    height: 100px;
                    max-height: 100px;
                    text-align: center;
                    position: relative;
                    overflow: hidden;
                    img {
                        display: inline-block;
                        transform: translateX(-50%) translateY(-50%);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                    }
                }
            }
        }
    }
    @include max-screen(1000px) {
        .our-clients {
            padding: 100px 0;
        }
    }
}