// Стили виджета допонительной информации "Наши преимущества" на странице "О нас"

.fluid-our-advantages {
    background-color: #212832;
    .our-advantages {
        padding: 100px 0 200px;
        .our-advantages-item {
            width: 260px;
            text-align: center;
            margin: 80px auto 0;
            .icon-block {
                background-image: linear-gradient(45deg, #fdbf1b 0%, #f97804 100%);
                border-radius: 50%;
                width: 83px;
                height: 83px;
                box-shadow: 0 0 35px #fa8809;
                margin: 0 auto 20px;
                transition: 0.3s;
                position: relative;
                &:hover {
                    transition: 0.3s;
                }
                img {
                    transform: translateX(-50%) translateY(-50%);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                }
            }
        }
    }
    @include max-screen(990px) {
        .our-advantages {
            padding: 100px 0;
            .our-advantages-item {
                width: 100%;
            }
        }
    }
}