.preloader-overlay {
    background-color: $dcm-main-color;
    width: 100%;
    height: 100vh;
    z-index: 1001;
    display: none !important; //flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    img {
        width: 100px;
        height: 100px;
        animation: 1s linear 0s normal none infinite running rot;
    }
}