// Стили для скролл бара
.fs-scrollbar-content {
    outline: none;
}
.fs-scrollbar-active .fs-scrollbar-content, .fs-scrollbar-setup .fs-scrollbar-content {
    padding: 0;
}
.fs-scrollbar-bar {
    border-color: transparent;
    background: transparent;
    width: 12px;
    padding: 0 2px;
    .fs-scrollbar-track {
        background: transparent;
        .fs-scrollbar-handle {
            background-color: #515974;
            width: 10px;
        }
    }
}