// Стили слайдера акций и скидок

.stock-widget-block {
    padding: 16px 0 80px;
    .stock-widget-title {
        font: {
            family: $font-lato-light;
            size: 30px;
        }
        text-transform: uppercase;
        padding: 20px 130px;
    }
    .stock-widget-slider {
        padding: 0 120px;
        .stock-widget-card {
            border-radius: 5px;
            border: 1px solid transparent;
            @include image-block(280px);
            overflow: hidden;
            text-align: center;
            padding: 50px 15px;
            margin: 0 auto;
            .stock-widget-card-title {
                font: {
                    family: $font-lato-regular;
                    size: 22px;
                }
                line-height: 30px;
            }
            .share-date {
                border-radius: 5px;
                border: 2px solid $dcm-brand-color;
                background-color: $dcm-brand-rgba-color;
                display: inline-block;
                margin-top: 15px;
                padding: 8px 40px;
            }
        }

        // Стрелки слайдера
        .slick-prev {
            @include slick-prev(#000, 95px, 10px);
            padding: 10px 0;
        }
        .slick-next {
            @include slick-next(#000, 95px, 10px);
            padding: 10px 0;
        }
    }

    @include max-screen(1400px) {
        .stock-widget-title {
            padding: 20px 120px;
        }
    }

    @include max-screen(1199px) {
        .stock-widget-slider .stock-widget-card {
            @include image-block(340px, 240px);
        }
    }

    @include max-screen(990px) {
        .stock-widget-slider .stock-widget-card {
            @include image-block(440px, 220px);
        }
    }
}