.tabs {
    .tabs-caption {
        overflow: hidden;
        .btn-tab {
            border-bottom: 1px solid #808080;
            width: 50%;
            font: {
                family: $font-lato-regular;
                size: 18px;
            }
            float: left;
            cursor: pointer;
            padding: 0 6px 12px;
        }
        .fs-tabs-active {
            border-bottom: 1px solid $dcm-brand-color;
        }
    }

    .tabs-content {
        padding: 30px 0;
    }
}