.form-control {
    @include generation-form;
}
.form-invalid {
    border-color: #dc3545;
    box-shadow: 0 0 0 1px #dc3545;
    &:focus {
        border-color: #dc3545;
        box-shadow: 0 0 0 1px #dc3545;
    }
}

textarea {
    @include generation-form;
}