// Стили виджета контактов с широкой картой

.fluid-widget-contacts {
    max-height: 515px;
    height: 515px;
    position: relative;
    .widget-contacts {
        background-color: rgba(24, 33, 47, 0.90);
        width: 800px;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        .contacts {
            width: 413px;
            padding: 50px 0 20px;
            .our-contacts-title {
                text-transform: uppercase;
                font: {
                    family: $font-raleway-light;
                    size: 24px;
                }
                margin-bottom: 40px;
                span {
                    font: {
                        family: $font-raleway-bold;
                        size: 18px;
                    }
                    display: block;
                    margin-bottom: 15px;
                }
            }
            .tabs {
                border-bottom: 1px solid #808080;
                .contact-block {
                    width: 100%;
                    float: none;
                    overflow: hidden;
                    .contact {
                        width: 100%;
                        overflow: hidden;
                        .line {
                            display: flex;
                            margin-bottom: 30px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            .info {
                                margin-left: 30px;
                            }
                        }
                    }
                }
            }
            .social-networks {
                width: 100%;
                text-align: center;
                padding: 15px 0;
                li {
                    margin: 0 6px;
                }
            }
        }
    }

    @include max-screen(1440px) {
        .widget-contacts {
            width: 460px;
        }
    }
    @include max-screen(900px) {
        .widget-contacts {
            width: 456px;
            .contacts {
                width: 360px;
            }
        }
    }
    @include max-screen(768px) {
        .widget-contacts {
            width: 400px;
        }
    }
}