// Горизонтальное меню личного профиля

.personal-profile-navigation-bar {
    padding: 15px 0;
    background: $dcm-main-color;
    .logotype {
        text-align: center;
    }
    .phones-for-communication ul li {
        border: 1px solid $dcm-brand-color;
        border-radius: 4px;
        padding: 8px 22px;
        font: {
            family: $font-lato-light;
            size: 16px;
        }
    }
    .horizontal-navigation-bar-content {
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;

        // Кнопка выхода
        .exit {
            @include generation-btn($bg-style: link);
            padding: 2px 0;
            i {
                transition: all .5s;
                font-size: 27px;
                color: #fff;
            }
            &:hover, &:active, &:focus {
                i {
                    color: $dcm-brand-color;
                }
            }
        }

    }

    @include max-screen(1440px) {
        .phones-for-communication ul li {
            font-size: 12px;
            padding: 10px 20px;
        }
    }
}