// Статистика пользовательских заказов,
// в личном кабинете пользователя

.personal-profile-statistics {
    .title-profile {
        width: 100%;
        padding-top: 35px;
        text-align: center;
        text-transform: uppercase;
        font: {
            family: $font-lato-light;
            size: 30px;
        }
    }

    // Счетчики пользователей от заказов
    .user-counters-from-orders {
        display: flex;
        flex-direction: column;

        // Отдельный счетчик
        .separate-counter {
            background: url("../../../images/personal-profile/bg-digits-content.png") center no-repeat;
            background-size: 200px;
            height: 100%;
            margin-top: 30px;
        }

        .digits-content {
            text-align: center;
            padding: 50px 0 0;

            // Показатель счетчика
            .digits {
                min-height: 150px;
                background: linear-gradient(0deg, #f96c00 50%, #ffd322 80%);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                font: {
                    family: $font-uni-sans;
                    size: 120px;
                }
                span {
                    font-size: 60px;
                    margin-left: -15px;
                }
            }
        }

        // Сделать функцию затемнения
        .user-counters-text {
            text-transform: uppercase;
            text-align: center;
            font: {
                family: $font-lato-light;
                size: 30px;
            }
            color: #b75726;
        }
    }

    @include max-screen(1440px) {
        .title-profile {
            font-size: 25px;
            padding: 20px 20px 0;
        }
        .user-counters-from-orders .separate-counter {
            background: url("../../../images/personal-profile/bg-digits-content.png") top no-repeat;
            background-size: 150px;
            margin-top: 0;
            .digits-content {
                padding: 20px 0 0;
                .digits {
                    min-height: 120px;
                    font-size: 95px;
                }
            }
        }
    }
}