// Вертикальное меню навигации пользователя
.personal-profile-vertical-navigation-bar {
    background: #202b3e;
    height: 100vh;

    // Данные пользователя
    .user-data {
        text-align: center;
        padding: 35px 0 60px;

        // ФИО пользователя
        .user-name {
            font: {
                family: $font-lato-light;
                size: 18px;
            }
            margin-top: 20px;

            .user-id {
                font-size: 16px;
                color: $dcm-brand-color;
                margin-top: 5px;
            }
        }
    }
    .navigation-list {
        ul li {
            width: 100%;
            text-align: left;
            border-left: 4px solid transparent;
            font: {
                family: $font-lato-light;
                size: 18px;
            }
            transition: all .5s;
            &:hover {
                border-left: 4px solid #bb6013;
            }
            a {
                padding: 23px;
                width: 100%;
                .status {
                    border-radius: 50%;
                    background: #f45b63;
                    padding: 4px 8px;
                }
            }
        }
        .select {
            border-left: 4px solid $dcm-brand-color;
            background: linear-gradient(80deg, rgba(249, 110, 0, 0.3), rgba(255, 255, 255, 0));
        }
    }

    @include max-screen(1400px) {
        .user-data {
            padding: 25px 0 45px;
        }
        .navigation-list ul li {
            font-size: 16px;
            transition: all .5s;
            a {
                padding: 20px;
            }
        }
    }
}