// Стили страницы о нас

.about-intro-content {
    background-color: #212832;
    overflow: hidden;
    padding-bottom: 210px;

    // Описание призентации
    .fluid-description-about-us {
        background: {
            repeat: no-repeat;
            position: 360px 40px, 200px bottom, 1300px 150px;
            image: url(/images/plant.png), url(/images/glasses.png), url(/images/coffe.png);
            color: $dcm-main-color;
        }
        .container-description-about-us {
            text-align: center;
            padding: 110px 0;
            .description {
                margin: 30px 0 60px;
            }
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }

    // Прилепающий при скроле блок, с иконкой
    .container-block-icon {
        width: 100%;
        margin-top: -120px;
        .block-icon {
            border-radius: 4px;
            background-color: #fff;
            width: 270px;
            height: 360px;
            z-index: 1;
            position: relative;
            margin: 0 auto;
            img {
                transform: translateX(-50%) translateY(-50%);
                position: absolute;
                left: 50%;
                top: 50%;
            }
        }
    }

    // Блоки шагов призентации
    .intro-scene .fluid-intro-line {
        padding-top: 130px;
        // Нижняя левая полоска под шагами призентации
        &:after {
            content: '';
            background-color: $dcm-brand-color;
            width: 30%;
            height: 2px;
            display: block;
        }
        // Нижняя правая полоска под шагами призентации
        &:nth-child(2n) {
            &:after {
                content: '';
                background-color: $dcm-brand-color;
                width: 30%;
                height: 2px;
                float: right;
                display: block;
            }
            .intro-line {
                .number-line {
                    right: -200px;
                    left: inherit;
                }
            }
        }
        .intro-line {
            position: relative;
            padding: 30px 0 25px;
            .title {
                border-left: 6px solid $dcm-brand-color;
                font-size: 24px;
                padding: 15px 0 0 30px;
                margin-bottom: 20px;
            }
            .number-line {
                width: 150px;
                text-align: center;
                line-height: 175px;
                font: {
                    family: $font-uni-sans;
                    size: 234px;
                }
                color: #3f444b;
                position: absolute;
                left: -200px;
                top: 0;
            }
        }
    }

    @include max-screen(1440px) {
        .fluid-description-about-us {
            background-position: 160px 40px, 100px bottom, 1060px 180px;
        }
        .intro-scene .fluid-intro-line {
            .intro-line .number-line {
                font-size:200px;
                left: -130px;
            }
            &:nth-child(2n) .intro-line .number-line {
                right: -130px;
            }
        }
    }
    @include max-screen(1350px) {
        .intro-scene .fluid-intro-line .intro-line .number-line {
            display: none;
        }
    }
    @include max-screen(1200px) {
        .fluid-description-about-us {
            background-position: 60px 40px, 30px bottom, 900px 180px;
        }
    }
    @include max-screen(1100px) {
        .fluid-description-about-us {
            background-position: 60px 40px, 30px bottom, 810px 180px;
            .container-description-about-us img {
                width: 100%;
            }
        }
    }
    @include max-screen(1099px) {
        display: none;
    }
}