// Стили страницы контактов

.main-contact-block {
    height: 1080px;
    position: relative;

    // Выравнивание карты по высоте
    .map {
        height: 100%;
    }

    // Основной контейнер с контактами спозиционировнный над картой
    .our-contacts {
        background-color: rgba(25, 34, 48, 0.90);
        min-height: 440px;
        padding: 80px 0;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        .our-contacts-title {
            text-transform: uppercase;
            font: {
                family: $font-raleway-light;
                size: 24px;
            }
            margin-bottom: 40px;

            span {
                font: {
                    family: $font-raleway-bold;
                    size: 18px;
                }
                display: block;
                margin-bottom: 15px;
            }
        }

        // Обратная связь
        .feedback {
            padding: 0 40px;
            .feedback-form {
                .form-control {
                    width: 100%;
                    margin-bottom: 15px;
                }
                textarea {
                    width: 100%;
                    min-height: 100px;
                    max-height: 500px;
                    resize: vertical;
                    margin-bottom: 25px;
                }

                // Кнопка без бекграунда
                .btn-primary {
                    width: 100%;
                }
            }
        }

        // Вкладки с контактами
        .contacts {
            padding: 0 40px;
            .tabs-content {
                .contact-block {
                    width: 100%;
                    float: none;
                    overflow: hidden;

                    .contact {
                        width: 100%;
                        overflow: hidden;

                        .line {
                            width: 50%;
                            float: left;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }

    @include max-screen(1200px) {
        .our-contacts {
            padding: 40px 0;
            .feedback, .contacts {
                padding: 0 15px;
            }
        }
    }

    @include max-screen(1000px) {
        .our-contacts .contacts .tabs-content .contact-block .contact .line {
            width: 100%;
        }
    }
}