// Главная страница

.home-page {
    background: url('../../../images/bg-home-page.png') no-repeat center;
    background-size: cover;

    // Стили кнопок подключения и блока контактов
    .content {
        padding-top: 160px;
        .home-page-title {
            line-height: 60px;
            text-transform: uppercase;
            font: {
                family: $font-raleway-bold;
                size: 48px;
            }
        }

        // Стили кнопок подключения и вызова мастера
        .call-to-action-block {
            overflow: hidden;
            .call-to-action-form {
                padding-top: 40px;
                a {
                    @include generation-btn($dcm-brand-color, 2px solid, 8px, 24px, #fff, $font-lato-regular, 15px 60px, normal);
                    &:first-child {
                        @include generation-btn($dcm-brand-color, 2px solid, 8px, 24px, #fff, $font-lato-regular, 15px 30px, null);
                        margin-right: 17px;
                    }
                }
            }
            .description {
                background: url(../../../images/bg-call-to-action-description.png) no-repeat left 100px top 10px;
                line-height: 28px;
                font: {
                    family: $font-marck-script;
                    size: 24px;
                }
                padding: 60px 0 90px 190px;
            }
        }

        // Стили блока контактов
        .contact-block {
            display: flex;
            justify-content: space-between;
            .contact {
                .title {
                    font: {
                        family: $font-lato-semibold;
                        size: 24px;
                    }
                    margin-bottom: 40px;
                }
                .line {
                    line-height: 22px;
                    font: {
                        family: $font-lato-regular;
                        size: 16px;
                    }
                    color: #fff;
                    padding-left: 50px;
                    margin-bottom: 20px;
                }
                .map {
                    background: url(../../../images/icons/placeholder.svg) no-repeat top left;
                    background-size: 30px;
                }
                .phone {
                    background: url(../../../images/icons/phone-call.svg) no-repeat top left;
                    background-size: 30px;
                }
                .mail {
                    background: url(../../../images/icons/email.svg) no-repeat top left;
                    background-size: 30px;
                }
            }
        }

        @include max-screen(1600px) {
            padding-top: 20px;
            .home-page-title {
                font-size: 40px;
                padding-right: 70px;
            }

            // Стили кнопок подключения и вызова мастера
            .call-to-action-block {
                .call-to-action-form {
                    padding-top: 20px;
                    .btn-block {
                        padding-top: 10px;
                        a {
                            font-size: 18px;
                            padding: 12px 60px;
                            &:last-child {
                                padding: 12px 75px;
                            }
                        }
                    }
                }
                .description {
                    padding-bottom: 30px;
                }
            }

            // Стили блока контактов
            .contact-block {
                .contact {
                    .title {
                        font-size: 20px;
                        margin-bottom: 20px;
                    }
                    .line {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        @include max-screen(1200px) {
            .call-to-action-block .call-to-action-form a {
                padding: 15px 55px;
            }
        }

        @include max-screen(990px) {
            .contact-block {
                justify-content: space-around;
            }
        }

        @include max-screen(770px) {
            .call-to-action-block {
                .call-to-action-form a {
                    padding: 15px 45px;
                }
                .description {
                    background-position-x: 40px;
                    padding: 60px 30px 20px 140px;
                }
            }
        }

        @include max-screen(580px) {
            .call-to-action-block .call-to-action-form {
                display: flex;
                justify-content: space-between;
                a {
                    padding: 15px 40px;
                }
            }
        }

        @include max-screen(525px) {
            .home-page-title {
                font-size: 35px;
            }
            .call-to-action-block {
                .call-to-action-form {
                    flex-direction: column-reverse;
                    padding: 40px 0 50px;
                    a {
                        text-align: center;
                        width: 100%;
                        &:first-child {
                            margin-top: 15px;
                        }
                    }
                }
                .description {
                    display: none;
                }
            }
        }

        @include max-screen(470px) {
            .home-page-title {
                padding-right: 0;
            }
            .contact-block {
                flex-direction: column-reverse;
                justify-content: space-around;
            }
        }

        @include max-screen(425px) {
            .home-page-title {
                font-size: 26px;
                line-height: 35px;
            }
            .call-to-action-block .call-to-action-form {
                padding: 30px 0 40px;
                a {
                    font-size: 20px;
                    &:first-child {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}