// Стили страницы услуг

.services-page {
    padding-top: 60px;

    .slider-services {
        // Класс блока слик слайдера,
        // задает верхний внутренний отступ что бы иконки не скрывались
        .slick-list {
            min-height: 442px;
            padding-top: 42px;
        }
        .service-card {
            border-radius: 5px;
            border: 1px solid #fff;
            background-color: #fff;
            text-align: center;
            position: relative;
            padding: 0 20px 20px;
            margin: 0 5px;
            .icon-block {
                border-radius: 50%;
                background-image: linear-gradient(to bottom left, #FA7804 0%, #fcc323 100%);
                box-shadow: 0 0 25px 0 rgba(0,0,0,0.2);
                width: 84px;
                height: 84px;
                display: block;
                position: relative;
                margin: -42px auto;
                img {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    top: 0;
                    margin: auto;
                }
            }
            .services-title {
                font: {
                    family: $font-raleway-semiBold;
                    size: 24px;
                }
                color: #333;
                margin-top: 60px;
            }
            ul {
                min-height: 160px;
                overflow: hidden;
                padding: 0 10px;
                margin: 30px 0;
                li {
                    font: {
                        family: $font-lato-regular;
                        size: 14px;
                    }
                    color: #333;
                    text-align: left;
                    display: block;
                    position: relative;
                    padding-left: 15px;
                    margin-bottom: 12px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:before {
                        content: ' ';
                        border-radius: 50%;
                        background-color: $dcm-brand-color;
                        width: 6px;
                        height: 6px;
                        vertical-align: middle;
                        display: block;
                        position: absolute;
                        top: 4px;
                        left: 0;
                    }
                }
            }
            .btn-primary {
                width: 100%;
                font: {
                    family: $font-lato-regular;
                    size: 18px;
                }
            }
        }

        // Стрелки слик слайдера
        .slick-next {
            @include slick-next(transparent, 210px, -60px, 16px);
        }
        .slick-prev {
            @include slick-prev(transparent, 210px, -60px, 16px);
        }

        @include max-screen(1200px) {
            .slick-next {
                right: -30px;
            }
            .slick-prev {
                left: -30px;
            }
        }
    }
}