// Глобальные переменные всего проекта,
// значение переменных объявляется здесь при старте проекта
// Переменные указываются в начале с ключом пространства имён,
// Например, $dcm-background-color $dcm-..., это и есть ключ пространства имен


//== Основные переменные цветов макета
$dcm-main-color: #1b2434; // Основной цвет элементов макета
$dcm-brand-color: #f70; // Акцентный цвет элементов или цвет бренда который появляется не однократно в макете
$dcm-secondary-color: #babbbe; // Второстепенный цвет макета (Использоавать для вариации серого)
$dcm-default-color: #fff; // Цвет элеметов макета по умолчанию

// Затемнение и прозрачность цвета бренда
$dcm-brand-rgba-color: rgba($dcm-brand-color, .3);
$dcm-brand-dark-color: darken($dcm-brand-color, 4);

// Оттенки фильтров
$dcm-light-filter: rgba(#212832, .87);
$dcm-dark-filter: rgba(#1c2b47, .93);


//== Основные переменные шрифтов макета
$dcm-default-font-style: 'lato-medium'; // Стиль шрифта по умолчанию
$dcm-default-font-size: 16px; // Размер шрифта по умолчанию
$dcm-default-font-color: #fff; // Цвет шрифтов макета по умолчанию

// Переменные с названием шрифтов, используемых в макете
$font-lato-regular: 'lato-regular';
$font-lato-semibold: 'lato-semi-bold';
$font-lato-light: 'lato-light';
$font-raleway-bold: 'raleway-bold';
$font-raleway-semiBold: 'raleway-semi-bold';
$font-raleway-extrabold: 'raleway-extra-bold';
$font-raleway-light: 'raleway-light';
$font-marck-script: 'marck-script';
$font-uni-sans: 'uni-sans';
$font-roboto-regular: 'roboto-regular';
$font-roboto-light: 'roboto-light';

//== Переменные для модальных окон
$dcm-overlay-bg-color: rgba($dcm-main-color, .93);

//== Переменные для генерации дефолтных стилей кнопок
$dcm-btn-border-radius: 8px;
$dcm-btn-border-style: 2px solid;
$dcm-btn-bg-color: $dcm-secondary-color;
$dcm-btn-padding: 10px 15px;
$dcm-btn-font-size: 16px;
$dcm-btn-font-family: $dcm-default-font-style;


//== Переменные для генерации дефолтных стилей текстовых полей
$dcm-form-effect-color: $dcm-brand-color;
$dcm-form-border-color: #808080;
$dcm-form-bg-color: rgba(25, 34, 48, 0.6);
$dcm-form-font-color: #fff;
$dcm-form-border-radius: 4px;
$dcm-form-border-style: 1px solid;
$dcm-form-padding: 15px 20px;
$dcm-form-font-size: 16px;
$dcm-form-font-family: $font-lato-light;