// footer сайта

.footer {
    $footer-font-color: #b8b8b8;

    background-color: #1b2434;
    font: {
        family: $font-lato-regular;
        size: 14px;
    }
    color: $footer-font-color;
    padding: 120px 0 90px;

    .title-footer {
        border-bottom: 1px solid #323a49;
        background: {
            position: right;
            repeat: no-repeat;
        }
        font: {
            family: $font-lato-light;
            size: 28px;
        }
        color: $dcm-brand-color;
        position: relative;
        padding: 0 13px 15px;
        margin-bottom: 30px;
        &:after {
            content: ' ';
            background-color: #131924;
            width: 100%;
            height: 1px;
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }
    .site-map {
        padding-bottom: 10px;
        li {
            margin: 0 20px 10px 0;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: $footer-font-color;
            }
        }
    }
    .social-networks li {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }

    .block-with-contacts {
        display: flex;
        justify-content: space-between;
        ul {
            margin-top: 20px;
            li {
                margin: 5px 0;
            }
        }
    }

    // Форма подписки
    .subscription-block {
        padding: 0 10px;
        .form-control {
            @include generation-form($form-font-color: $footer-font-color);
            width: 100%;
            height: 45px;
            margin-top: 20px;
            &:nth-child(2n) {
                width: 244px;
                margin-right: 6px;
            }
        }
        .btn-primary {
            @include generation-btn($main-button-color: $dcm-brand-color, $btn-border-radius: 4px, $btn-padding: 8px 10px);
        }
    }

    @include max-screen(1000px) {
        .subscription-block .form-control:nth-child(2n) {
            width: 272px;
        }
    }

    @include max-screen(990px) {
        padding: 100px 0;
        .d-md-block {
            display: none !important;
        }
    }
}