.header-fluid {
    background: {
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    .header-gradient {
        background: linear-gradient(180deg, rgba(27, 36, 52, 0.87), #1b2434);
        .header-title {
            overflow: hidden;
            text-align: center;
            padding: 120px 0 80px;
            .header-title-text, .header-title-text-long {
                letter-spacing: 15px;
                line-height: 150px;
                font: {
                    family: $font-uni-sans;
                    size: 200px;
                }
                color: rgba(249, 108, 0, 0.30);
                display: inline-block;
            }
        }

        @include max-screen(1200px) {
            .header-title {
                padding: 100px 0 60px;
                .header-title-text-long {
                    font-size: 200px;
                }
            }
        }
        @include max-screen(1180px) {
            .header-title .header-title-text-long {
                font-size: 160px;
            }
        }
        @include max-screen(1000px) {
            .header-title .header-title-text-long {
                font-size: 120px;
            }
        }
        @include max-screen(990px) {
            .header-title .header-title-text {
                font-size: 180px;
            }
        }
    }
}