//== Меню сайта

.fs-navigation-overlay-content:before {
    background-color: $dcm-overlay-bg-color;
}

.navigation-bar-fluid {
    z-index: 1;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    .navigation-bar {
        padding-top: 20px;
        .nav_content {
            display: flex;
            justify-content: flex-end;
            ul li {
                margin: 10px 40px 0 0;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    border-bottom: 2px solid transparent;
                    text-transform: uppercase;
                    line-height: 20px;
                    font: {
                        family: $dcm-default-font-style;
                        size: 16px;
                    }
                    transition: all .5s;
                    &:hover, &:focus, &:active {
                        border-bottom: 2px solid $dcm-brand-color;
                    }
                }
            }

            // Блок с кнопкой входа в личный профиль,
            // и информацией авторизованого пользователя
            .profile-information {
                margin: 0 0 0 40px;
                .btn-user-authorization {
                    @include generation-btn($dcm-brand-color, $btn-border-radius: 6px, $bg-style: null);
                }
                .user-data a {
                    border-bottom: 2px solid transparent;
                    display: flex;
                    transition: all .5s;
                    &:hover, &:focus, &:active {
                        border-bottom: 2px solid $dcm-brand-color;
                    }

                    // ФИО пользователя
                    .user-name {
                        text-align: left;
                        .name {
                            max-width: 180px;
                            min-width: 150px;
                            height: 20px;
                            text: {
                                transform: uppercase;
                                overflow: ellipsis;
                            }
                            line-height: 20px;
                            font: {
                                family: $dcm-default-font-style;
                                size: 16px;
                            }
                            overflow: hidden;
                            margin-top: 10px;
                        }
                    }
                }
            }

            // Кнопка открытия меню, на мобильной версии
            .nav_handle {
                display: none;
                @include generation-btn($dcm-brand-color, $btn-border-radius: 6px, $btn-padding: 8px 10px, $bg-style: null);
                margin-left: 20px;
                i {
                    line-height: 0;
                }
            }
        }

        // Вертикальное меню сайта, на мобильной версии
        .vertical-mobile-navigation-bar {
            background-color: #202b3e;
            outline: none;
            display: none;

            // Данные пользователя
            .user-data {
                display: flex;
                justify-content: center;
                padding: 20px 0 30px;

                // ФИО пользователя
                .user-name {
                    padding: 20px 0 0 11px;
                    font: {
                        family: $font-lato-light;
                        size: 18px;
                    }
                    p {
                        line-height: 16px;
                    }
                }
            }
            .navigation-list {
                ul li {
                    width: 100%;
                    text-align: center;
                    border-left: 4px solid transparent;
                    font: {
                        family: $font-lato-light;
                        size: 18px;
                    }
                    transition: all .5s;
                    &:hover {
                        border-left: 4px solid $dcm-brand-color;
                    }
                    //.status {
                    //    border-radius: 50%;
                    //    background: #f45b63;
                    //    padding: 4px 8px;
                    //}
                    a {
                        padding: 23px;
                        width: 100%;
                    }
                }
                .select {
                    border-left: 4px solid $dcm-brand-color;
                    background: #242f44;
                }
            }
        }
    }

    @include max-screen(770px) {
        background-color: #202b3e;
        padding: 10px 0;
        .navigation-bar {
            padding: 0;
            .nav_content {
                ul {
                    display: none;
                }
                .nav_handle {
                    display: block;
                }
            }
            .vertical-mobile-navigation-bar {
                display: block;
            }
        }
    }
}