// файл со стилями которым пока не нашлось места
// .limited-block - задает высоту равную экрану и отключает скрол
// .bg-filter-page - задает цветовую маску для .home-page

body {
    background-color: $dcm-main-color;
    line-height: 1;
    color: $dcm-default-font-color;
    font: {
        family: $dcm-default-font-style;
        size: $dcm-default-font-size;
    }

    ul {
        display: block;
        li {
            display: inline-block;
        }
    }

    a {
        color: $dcm-default-font-color;
        outline: none;
        text-decoration: none;
        display: inline-block;
        &:hover {
            outline: none;
            text-decoration: none;
        }
        &:active {
            outline: none;
            text-decoration: none;
        }
        &:focus {
            outline: none;
            text-decoration: none;
        }
    }

    .limited-block {
        position: relative;
        overflow: hidden;
        height: 100vh;
    }
    .bg-filter-light {
        background-color: $dcm-light-filter;
        padding-top: 50px;
        height: 100vh;

        @include max-screen(770px) {
            padding-top: 60px;
        }
    }
    .bg-filter-dark {
        background: $dcm-dark-filter;
        height: 100vh;
    }

    @include max-screen(470px) {
        .limited-block {
            overflow: scroll;
        }
        .bg-filter-light {
            height: auto;
        }
    }
}