// Подключения шрифтов, элементы текста которым присваивается стиль шрифта и размер
// Названия шрифтов, папок, шрифтов в папке обязательно пишутся с маленькой буквы

@include fontFace('lato-light', '../fonts/lato-light');
@include fontFace('lato-medium', '../fonts/lato-medium');
@include fontFace('lato-regular', '../fonts/lato-regular');
@include fontFace('raleway-light', '../fonts/raleway-light');
@include fontFace('raleway-bold', '../fonts/raleway-bold');
@include fontFace('raleway-semi-bold', '../fonts/raleway-semibold');
@include fontFace('raleway-extra-bold', '../fonts/raleway-extrabold');
@include fontFace('lato-semi-bold', '../fonts/lato-semibold');
@include fontFace('uni-sans', '../fonts/uni_sans_heavy');
@include fontFace('marck-script', '../fonts/marckscript-regular');
@include fontFace('roboto-regular', '../fonts/robotoregular');
@include fontFace('roboto-light', '../fonts/robotolight');

.title {
    text-transform: uppercase;
    font: {
        family: $font-raleway-bold;
        size: 30px;
    }
}

.description {
    font-family: $font-lato-regular;
    line-height: 20px;
}

p {
    line-height: 22px;
}

// Заголовок с полосками по бокам
.two-striped-title {
    @extend .title;
    text-align: center;
    &:after {
        content: ' ';
        background-color: $dcm-brand-color;
        width: 150px;
        height: 1px;
        display: block;
        margin: 11px auto;
    }
    &:before {
        content: ' ';
        background-color: $dcm-brand-color;
        width: 50px;
        height: 5px;
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        left: 50%;
        top: 80%;
    }
}